/*================================================================
  1. importing variables and mixins
===================================================================*/
@import "variable.scss";
@import "site-mixins.scss";

/*================================================================
  2. CSS to the Additional Resources Page
===================================================================*/

.add-resources {

	.vdo-block {
		padding: 42px 0 56px;

		.row {
			margin-bottom: 67px;
			@include bp-ipad-port {
				margin-bottom: 55px;
			}
			@include bp-tablet {
				margin-bottom: 30px;
			}
			@include bp-medium {
				margin-bottom: 50px;
			}
		}

		.last-row { margin-bottom: 0; }

	.close-button-home {
		@include bp-medium {
		 right: 0;
		 z-index: 50;
	    }
		@include bp-small {
		 right: 0;
		 z-index: 50;
	    }
	}

	.contentBox {
	  height: 73vh;
	  overflow: hidden;
      background-color: transparent;
      box-shadow: none;
      top: 14%;
      @include bp-large {
		top: 20%;
      }

	  @include bp-tablet {
	  	top : 26%;
		padding: 50px 0;
	  }
	  @include bp-medium {
	  	height: auto;
	  	top: 0;
	  	padding: 60px 0 0;
	  }
	  @include bp-medium3 {
		top: 26%;
	  }
	  @include bp-small {
	  	height: auto;
	  	top: 100px;
	  	padding: 70px 0 0;
	  	left: 6%;
	  }
      .video-container {
      	width: 100%;
      	padding-top: 41.25%;
      	position: relative;
      	top: 0;
      	left: 0;
	    @include bp-tablet {
		  padding-top: 56.25%;
	    }
	    @include bp-medium {
		  padding-top: 56.25%;
	    }
	    @include bp-small {
		  padding-top: 56.25%;
	    }
		object,iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
      }
	}

	}
	.wrapper {
		width: 93.12%;
		max-width: 1192px;
		margin: 0 auto;

		.gbwm-vdo {
			width: 42.19%;
			height: 290px;
			float: left;
			@include bp-ipad-port {
				width: auto;
				height: auto;
				margin-bottom: 15px;
				float: none;
			}
			@include bp-medium {
				width: auto;
				height: auto;
				margin-bottom: 15px;
				float: none;
			}
			@include bp-small {
				width: auto;
				height: auto;
				margin-bottom: 15px;
				float: none;
			}
			@include bp-tablet {
				width: 48%;
				margin:40px 0 0 0;
				float: none;
				display: inline-block;
				vertical-align: top;

			}
		}

		.gbwm-vdo-info {
			width: 55%;
			float: right;
			@include bp-ipad-port {
				width: auto;
				float: none;
			}
			@include bp-medium {
				width: auto;
				float: none;
			}
			@include bp-small {
				width: auto;
				float: none;
			}
			@include bp-tablet {
				width: 48%;
				float: none;
				margin-left: 20px;
				display: inline-block;

			}
		}

		h3.vdo-title {
			margin-top: 18px;
			color: $darkBrown;
			@include fontFamily('Amplitude_Light',36px,normal,300);
			text-align: left;
			.sup {
				@include font-size(18px);
			}
			@include bp-ipad-land {
				margin-top: 0;
			}
			@include bp-ipad-port {
				margin-top: 0;
				line-height: 32px;
			}
			@include bp-tablet {
				margin-top: 0;
				@include font-size(26px);
			}
			@include bp-medium {
				margin-top: 0;
				@include font-size(26px);
			}
			@include bp-small {
				margin-top: 0;
				@include font-size(23px);
			}

		}

		span.vdo-duration {
			margin: 10px 0 33px;
			@include fontFamily('Amplitude_Light',18px,normal,300);
			line-height: 16px;
			@include bp-ipad-port {
				margin: 10px 0 20px;
			}
			@include bp-tablet {
				margin: 10px 0 15px;
				@include font-size(16px);
			}
			@include bp-medium {
				margin: 10px 0 15px;
				@include font-size(16px);
			}
			@include bp-small {
				margin: 10px 0 15px;
				@include font-size(15px);
			}
		}


		p.vdo-content {
			width: 88.8%;
			color : $textBrown;
			@include fontFamily('Amplitude_Light',22px,normal,300);
			line-height: 28px;
			@include bp-ipad-port {
				width: auto;
			}
			@include bp-tablet {
				@include font-size(18px);
			}
			@include bp-medium {
				width: auto;
				@include font-size(18px);
			}
			@include bp-small {
				width: auto;
				@include font-size(16px);
			}

		}

		a.view-demo {
			margin-top: 40px;
			color: $darkBrown;
			@include fontFamily('Amplitude_Light',22px,normal,300);
			text-decoration: none;
			line-height: 18px;
			&:hover { opacity: .5; }
			@include bp-ipad-port {
				margin-top: 20px;
			}
			@include bp-tablet {
				margin-top: 20px;
				@include font-size(18px);
			}
			@include bp-medium {
				margin-top: 20px;
				@include font-size(18px);
			}
			@include bp-small {
				margin-top: 20px;
				@include font-size(18px);
			}
		}
		span.right-arrow {
			width: 20px;
			height: 20px;
			display: inline-block;
			margin-left: 15px;
			background: url(../images/read-article.png) no-repeat;
			vertical-align: middle;
		}

	}

	.more-links {
		padding-bottom: 50px;
		text-align: center;
		> span {
			display: block;
			margin-bottom: 45px;
			color: $darkBrown;
			@include fontFamily('Amplitude_Regular',42px,normal,300);
			line-height: 32px;
			@include bp-ipad-port {
				margin-bottom: 35px;
			}
			@include bp-tablet {
				margin-bottom: 35px;
				@include font-size(35px);
			}
			@include bp-medium {
				margin-bottom: 35px;
				@include font-size(35px);
			}
			@include bp-small {
				margin-bottom: 25px;
				@include font-size(35px);
			}
		}

		li {
			&:hover { opacity: .5};
			@include bp-extra-large {
				width: 42%;
				margin-bottom: 0;
			}
		}
		li:nth-of-type(1) {
			@include bp-extra-large {
				float: left;
			}
		}
		// li:nth-of-type(2) {
		// 	@include bp-extra-large {
		// 		float: right;
		// 	}
		// }

		.more-links-right {
			@include bp-ipad-land {
				float: right;
			}
			@include bp-tablet {
				margin: 0 0 10px 0;
				float: right;
			}
			@include bp-medium {
				margin: 0 0 10px 0;
			}
			@include bp-small {
				margin: 0 0 10px 0;
			}
		}
		ul {
			li {
				margin-bottom: 40px;
				a {
					width: 100%;
					display: inline-block;
					color: $textBrown;
					@include fontFamily('Amplitude_Light',25px,normal,300);
					&:hover {
						opacity: .5;
						text-decoration: none;
					}
					@include bp-tablet {
						@include font-size(20px);
					}
					@include bp-medium {
						@include font-size(20px);
					}
					@include bp-small {
						@include font-size(17px);
					}
					span {
						float: left;
						@include bp-small {
							margin: 0;
						}
					}
					span.right-arrow {
						margin-top: 6px;
						float: right;
						@include bp-tablet { margin-top: 3px; }
					}
				}
				@include bp-ipad-port {
					margin-bottom: 10px;
				}
				@include bp-tablet {
					margin-bottom: 10px;
				}
				@include bp-medium {
					margin-bottom: 10px;
				}
				@include bp-small {
					margin-bottom: 10px;
				}
			}
			&:hover > span,
			&:hover > a {
				opacity: .5;
			}
			li:last-of-type { margin: 0; }
		}

	}

}
