/*------------------------------------------------------------------
[Table of contents]

1. importing variables and mixins
2. styling for main question groups
-------------------------------------------------------------------*/
/*================================================================
  1. importing variables and mixins
===================================================================*/
@import "variable.scss";
@import "site-mixins.scss";

/*================================================================
  2. styling for main question groups
===================================================================*/

.common-question {
	margin: 60px 0;
	@include bp-tablet { margin: 60px 0 150px; }
	.wrapper {
		width: 75.40%;
		max-width: 1018px ;
		margin: 0 auto;
		float: none;

		@include bp-large {
			width: 85%;
		}
		@include bp-tablet {
			width: 100%;
		}
		@include bp-medium {
			width: 100%;
		}
		@include bp-medium3 {
			width: 100%;
			padding: 0 3px;
		}
		@include bp-small {
			width: 100%;
			padding: 0 5px;
		}
		.groups {
			margin-top: 23px;
			color: $darkBrown;
			cursor: pointer;
			@include fontFamily('Amplitude_Light',30px,normal,300);
			> span {
				width: 80%;
				display: inline-block;
				vertical-align: top;
				float:left;
			}
			transition: opacity .5s;
			 span.up {
			 	vertical-align: super;
			 	@include fontFamily('Amplitude_Light',14px,normal,300);
			 	@include bp-medium {
			 		@include fontFamily('Amplitude_Light',9px,normal,300);
			 	}
			 	@include bp-medium {
			 		@include fontFamily('Amplitude_Light',9px,normal,300);
			 	}
			 	@include bp-small {
			 		@include fontFamily('Amplitude_Light',6px,normal,300);
			 	}
			 }
			 > span + span {
				width: 30px;
				height: 30px;
				float: right;
				background-image: url("../images/cq.large-plus.png");
				@include bp-large {
					transform : scale(.8);
				}
				@include bp-tablet {
					transform : scale(.7);
				}
				@include bp-medium {
					transform : scale(.7);
				}
				@include bp-medium3 {
					transform : scale(.6);
					margin-top: -5px;
				}
				@include bp-small {
					transform : scale(.6);
					margin-top: -6px;
				}

			}
			&:hover > span { opacity:.5; }

			@include bp-large {
				@include fontFamily('Amplitude_Light',26.5px,normal,300);
			}
			@include bp-tablet {
				@include fontFamily('Amplitude_Light',25px,normal,300);
			}
			@include bp-medium {
				@include fontFamily('Amplitude_Light',25px,normal,300);
			}
			@include bp-medium2 {
				@include fontFamily('Amplitude_Light',21px,normal,300);
			}
			@include bp-medium3 {
				@include fontFamily('Amplitude_Light',20px,normal,300);
			}
			@include bp-small {
				@include fontFamily('Amplitude_Light',18px,normal,300);
			}

			ul {
				display: none;
				margin-top: 55px;
				clear: both;
				background-color: $QuestionBg;
				@include fontFamily('Amplitude_light',25px,normal,300);
				@include bp-large {
					@include fontFamily('Amplitude_Light',20px,normal,300);
				}
				@include bp-tablet {
					@include fontFamily('Amplitude_Light',20px,normal,300);
				}
				@include bp-medium {
					@include fontFamily('Amplitude_Light',20px,normal,300);
				}
				@include bp-medium3 {
					@include fontFamily('Amplitude_Light',20px,normal,300);
				}
				@include bp-small {
					@include fontFamily('Amplitude_Light',16px,normal,300);
				}

				li > P {
					width: 100%;
					padding: 19px 15px 25px 28px;
					span {
						display: inline-block;
						vertical-align: top;
					}
					.showMore {
						float: right;
						@include bp-large {
							transform : scale(.8);
						}
						@include bp-tablet {
							transform : scale(.7);
							margin-top: 1px;
						}
						@include bp-medium {
							transform : scale(.7);
							margin-top: 1px;
						}
						@include bp-medium3 {
							transform : scale(.7);
						}
						@include bp-small {
							transform : scale(.6);
						}
					}
					.ques { width: 80%; }
				}
				.answer {
					padding: 10px 54px;
					display: none;
					color: $textBrown;
					clear: both;
					background-color: $AnswerBg;
					cursor: default;
					p {
						display: inline !important;
						.pdfLinks { color: $textBrown; }
					}
					.style {
						margin-right: 5px;
					}
				}
				.style {
					margin-right: 10px;
					@include fontFamily('Amplitude_Medium',25px,normal,500);
					@include bp-tablet {
						@include fontFamily('Amplitude_Medium',20px,normal,500);
					}
					@include bp-medium {
						@include fontFamily('Amplitude_Medium',20px,normal,500);
					}
					@include bp-small {
						@include fontFamily('Amplitude_Medium',16px,normal,500);
					}
				}
			}
		}
	}
}

.selected-first-image {
	background-image: url("../images/cq.small-minus.png") !important;
}


.selected-second-image {
	background-image: url("../images/cq.large-minus.png") !important;
}
