/*------------------------------------------------------------------
[Table of contents]

1. importing variables and mixins
2. Common CSS Codes
3. Styling for page title section include file.
4. Styling for learn-more section include file.
5. Keyframes for animations.

-------------------------------------------------------------------*/
/*================================================================
  1. importing variables and mixins
===================================================================*/
@import "variable.scss";
@import "site-mixins.scss";
/*================================================================
  2. Common CSS Codes
===================================================================*/

img {
	max-width: 100%;
  height: auto;
}

* {
	outline: none;
}

.browserupgrade {
  margin: 0.2px 0;
  background: #ccc;
  color: #000;
  padding: 0.2px 0;
}

.container-fluid {
	padding: 0;
	@include fontFamily();
	-webkit-font-smoothing: antialiased;
}

.row { margin: 0; }

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;

	position: fixed;
	bottom: 40px;
	right: 30px;

	box-shadow: 0 0 10px rgba(#000, .05);

	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	background: $darkBrown url(../images/cd-top-arrow.svg) no-repeat center 50%;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;

	&.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	&.cd-is-visible { /* the button becomes visible */
		visibility: visible;
		opacity: 1;
	}

	&.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
		opacity: .5;
	}

	.no-touch &:hover {
		background-color: $darkBrown;
		opacity: 1;
	}
}

/*================================================================
  3. Styling for page title section include file.
===================================================================*/

.sub-heading {
	width: 100%;
	background: $titleBrown;

	.wrapper {
		width: 93.12%;
		max-width: 93.12%;
		margin: 0 auto;
		position: relative;
	}

	h2 {
		padding: 49px 0 28px;
		display: inline-block;
		color: $textBrown;
		@include fontFamily('Amplitude_Light',24px,normal,300);
		@include bp-tablet {
			padding: 20px 0 18px;
			@include font-size(15px);
		}
		@include bp-medium {
			padding: 20px 0 18px;
			@include font-size(15px);
		}
		@include bp-small {
			padding: 12px 0 8px;
			@include font-size(14px);
		}

		.up {
			vertical-align: super;
			@include fontFamily('Amplitude_Light',14px,normal,300);
			@include bp-tablet {
				@include font-size(9px);
			}
			@include bp-medium {
				@include font-size(9px);
			}
			@include bp-small {
				@include font-size(6px);
			}
		}

		span + span {
			display: block;
			@include fontFamily('Amplitude_Light',48px,normal,300);
			@include bp-tablet {
				@include font-size(27px);
			}
			@include bp-medium {
				@include font-size(27px);
			}
			@include bp-small {
				@include font-size(21px);
			}
		}
	}

	.right-side-image {
		width: 39.14%;
		max-width: 501px;
		position: absolute;
		right: 0;
		bottom: -4px;
		@include bp-tablet {
			right: 5px;
		}
		@include bp-medium {
			right: 5px;
		}
		img {
			width: 100%;
			height: auto;
		}
		@include bp-small {
			width: 36%;
			right: 5px;
		}
	}
}

/*================================================================
  4. Styling for learn-more section include file.
===================================================================*/

.learn-more {
	width: 100%;
	padding: 24px 0 70px;
	background: #ece8e5;
	text-align: center;
	.wrapper {
		width: 93.12%;
		max-width: 1192px;
		margin: 0 auto;
	}
	@include bp-small {
		padding: 15px 0 40px;
	}
	.wrapper > span {
		margin-bottom: 23px;
		display: block;
		color: $darkBrown;
		@include fontFamily('Amplitude_Light',30px,normal,300);
		@include font-size(30px);
		line-height: 24px;
		text-align: center;
		@include bp-tablet {
			margin-bottom: 15px;
			@include font-size(27px);
		}
		@include bp-medium {
			margin-bottom: 15px;
			@include font-size(25px);
		}
		@include bp-small {
			margin-bottom: 15px;
			@include font-size(22px);
		}
	}

	.wrapper > div {
		width: 285px;
		height: 185px;
		padding: 70px 0 0 12px;
		background: $blockBrown;
		color: $white;
		text-align: left;
		vertical-align: top;
		@include bp-tablet {
			width: 30%;
			height: 160px;
			padding: 60px 0 0 12px;
		}
		@include bp-large {
			width: 30%;
		}
		@include bp-medium {
			width: 70%;
			height: auto;
			padding: 40px 20px !important;
			margin-top: 20px !important;
			text-align: center;
		}
		@include bp-small {
			width: 90%;
			height: auto;
			padding: 20px;
			text-align: center;
		}

		h3 {
 			margin-bottom: 8px;
			@include fontFamily('Amplitude_Light',31.5px,normal,300);
			vertical-align: bottom;
			line-height: 32px;
			@include bp-tablet {
				line-height: 25px;
				@include font-size(22.5px);
			}
			@include bp-large {
				@include font-size(29px);
			}
			@include bp-ipad-port {
				@include font-size(24.5px);
			}
			@include bp-small {
				@include font-size(20px);
			}
			span {
				display: block;
				line-height: 28px;
			}
		}

		a {
			display: inline-block;
			color: $white;
			@include fontFamily('Amplitude_Light',22px,normal,300);
			@include font-size(22px);
			@include bp-tablet {
				@include font-size(17.5px);
			}
			@include bp-medium {
				display: inline-block;
				@include font-size(22px);
				line-height: 29px;
			}
			@include bp-ipad-port {
				@include font-size(19px);
			}
			@include bp-small {
				@include font-size(18px);
			}
			span {
				width: 24px;
				height: 24px;
				margin: 0 0 -5px 19px;
				display: inline-block;
				background: url(../images/read-more.png) no-repeat;
				animation: bgTransitionNormal .4s forwards;
				@include bp-tablet {
					margin: 0 0 -5px 10px;
					transform: scale(.8);
				}
				@include bp-small {
					transform: scale(.8);
				}
			}
			&:hover, &:focus {
				color: $hoverBrown;
				text-decoration: none;
			}
			&:hover span,
			&:focus span {
				color: $hoverBrown;
				background-image: url("../images/read-more-hover.png");
				animation: bgTransitionHover .4s forwards;
				text-decoration: none;
			}

		}
	}

	.wrapper div + div h3 {
		margin-top: 28px;
		@include bp-medium {
			margin-top: 0;
		}
		@include bp-small {
			margin-top: 0;
		}
	}

	.wrapper > div:nth-of-type(3) h3 {
		@include bp-large {
			@include font-size(26.5px);
		}
		@include bp-ipad-port {
			@include font-size(24.5px);
		}
	}

	.wrapper > div:nth-of-type(1) {
		padding: 66px 0 0 15px;
		@include bp-tablet {
			padding: 60px 0 0 12px;
		}
		@include bp-large {
			padding: 70px 0 0 12px;
			float: left;
		}
		@include bp-small {
			padding: 20px;
		}
	}

	.wrapper > div:nth-of-type(2) {
		margin: 0 3.9%;
		@include bp-large {
			margin: 0 auto;
		}
		@include bp-small {
			margin: 10px auto;
		}
	}

	.wrapper > div:nth-of-type(3) {
		@include bp-large {
			float: right;
		}
	}

	.wrapper {
		@include bp-large {
			width: 98%;
		}
	}

}


/*================================================================
  5. Keyframes for animations.
===================================================================*/


@keyframes bgTransitionHover {
	0% {
		opacity: 0;
		background-image: url("../images/read-more-hover.png");
	}
	25% {
		opacity: 0.3;
		background-image: url("../images/read-more-hover.png");
	}
	50% {
		opacity: 0.6;
		background-image: url("../images/read-more-hover.png");
	}
	75% {
		opacity: 0.8;
		background-image: url("../images/read-more-hover.png");
	}
	100% {
		opacity: 1;
		background-image: url("../images/read-more-hover.png");
	}
}

@keyframes bgTransitionNormal {
	0% {
		opacity: 0;
		background-image: url("../images/read-more.png");
	}
	25% {
		opacity: 0.3;
		background-image: url("../images/read-more.png");
	}
	50% {
		opacity: 0.6;
		background-image: url("../images/read-more.png");
	}
	75% {
		opacity: 0.8;
		background-image: url("../images/read-more.png");
	}
	100% {
		opacity: 1;
		background-image: url("../images/read-more.png");
	}
}
