@import "variable.scss";

/*================================================================
  1. Footer
==================================================================*/
footer {
	width: 100%;
	background-color: $darkBrown;

	.footer-cpright {
		padding: 34px 0 19px;
		margin: 0 auto;
    display: block;
	}
}
