@import "variable.scss";
@import "site-mixins.scss";
/*================================================================
  1. Header
===================================================================*/
header {
	background-color:  $darkBrown;
	position: relative;
	z-index: 100;

	.hamburger {
		width: 33px;
		height: 26px;
		margin: 23px 0 23px 40px;
		display: inline-block;
		position: relative;
		@include transform(rotate(0deg));
		@include transition(.5s ease-in-out);
		cursor: pointer;
		@include bp-ipod-land {
			margin: 10px 0 10px 40px;
		}
		span {
			width: 50%;
			height: 4px;
		  display: inline-block;
		  position: absolute;
		  background: $white;
		  opacity: 1;
		  @include transform(rotate(0deg));
		  @include transition(.25s ease-in-out);

		  &:nth-of-type(even) {
  			left: 48.5%;
  			border-radius: 0 9px 9px 0;
			}

			&:nth-of-type(odd) {
  			left:0;
  			border-radius: 9px 0 0 9px;
			}

			&:nth-of-type(1), &:nth-of-type(2) {
			  top: 0;
			}

			&:nth-of-type(3), &:nth-of-type(4) {
			  top: 11px;
			}

			&:nth-of-type(5), &:nth-of-type(6) {
			  top: 21px;
			}
		}

		&.open {
			span {
				&:nth-of-type(1), &:nth-of-type(6) {
					@include transform(rotate(45deg));
				}

				&:nth-of-type(2), &:nth-of-type(5) {
					@include transform(rotate(-45deg));
				}

				&:nth-of-type(1) {
				  left: 4px;
				  top: 5px;
				}

				&:nth-of-type(2) {
				  left: calc(50%);
				  top: 5px;
				}

				&:nth-of-type(3) {
				  left: -50%;
				  opacity: 0;
				}

				&:nth-of-type(4) {
				  left: 100%;
				  opacity: 0;
				}

				&:nth-of-type(5) {
				  left: 5px;
				  top: 16px;
				}

				&:nth-of-type(6) {
				  left: calc(50%);
				  top: 16px;
				}
			}
		}

		.main-nav {
			width: 320px;
			padding-top: 20px;
			position: absolute;
			top: 25px;
			left: -40px;
			background-color: $darkBrown;
			@include fontFamily('Amplitude_Light', 22px, normal, 500);
			opacity: 0;
			visibility: hidden;
			z-index: 10;
			@include transition(visibility 0.3s, opacity 0.3s linear);

			ul {
				li {
					border-top: 1px solid $hoverBrown;

					&:first-child { border-top: none; }

					&:nth-last-child(2) { border-top: 4px solid $hoverBrown; }

					&:hover {
						background-color: $hoverBrown;
						@include transition(background-color .2s ease-in);

						a {	color: $white; }
					}

					a {
						padding: 15px 0 15px 40px;
						display: block;
						color: $white;
						text-decoration: none;
					}

					.current-page {
						color: $hoverBrown;
					}
				}
			}
		}

		&:hover .main-nav {
			visibility: visible;
			opacity: 1;
			@include transition(visibility 0s linear, opacity 0.3s linear);
		}
	}
}
