/*------------------------------------------------------------------
--------------------------------------------------------------------
[Master Stylesheet]

Project:     JP Morgan
Version:     1.0
Last change: 00/00/0000 {description}
Assigned to: Rahul Shetty (Lead Developer), PRDXN
Assigned by: JWT
Primary use: Site will be used internally by JP Morgan.

-------------------------------------------------------------------
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. SCSS Import
2. Jumbotron
3. Flexslider
4. How it works
5. Detailed block
6. Common Questions
7. Light Box styling

-------------------------------------------------------------------*/

/*================================================================
  1. SCSS Imports
==================================================================*/

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "variable.scss";
@import "site-mixins.scss";
@import "debug.scss";
@import "reset.scss";
@import "common-css.scss";
@import "header.scss";
@import "footer.scss";
@import "thought-lead.scss";
@import "common-questions.scss";
@import "additional-resources.scss";
// endbower

/*================================================================
  2. Jumbotron
==================================================================*/

.wrapper {
	width: 93.12%;
	max-width: 1192px;
	margin: 0 auto;
	position: relative;
}

.sup { vertical-align: super; }
.banner {
	width: 100%;
	height: 585px;
	overflow: hidden;
	position: relative;
	background: #0d1c00 url(../images/home.jumbotron.jpg) center 3px no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home.jumbotron.jpg',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home.jumbotron.jpg',sizingMethod='scale')";

	.wrap-center{
		max-width: 82em;
		margin: 0 auto;
		color: $white;
		text-align: center;

		.banner-logo {
			margin: 42px 0;
			display: inline-block;

			@include bp-ipod-land {
				width: 30%;
				margin: 3px 0;
			}

			@include bp-ipod-port {
				width: 60%;
				margin: 10px 0;
			}
		}

		.banner-title {
			@include fontFamily('Amplitude_Light', 60px, normal, 300);

			@include bp-ipad-port {
				@include fontFamily('Amplitude_Light', 40px, normal, 300);
			}

			@include bp-ipod-land {
				@include fontFamily('Amplitude_Light', 25px, normal, 300);
			}

			@include bp-ipod-port {
				@include fontFamily('Amplitude_Light', 20px, normal, 300);
			}

			.sup {
				@include fontFamily('Amplitude_Light', 15px, normal, 300);
				vertical-align: super;

				@include bp-ipad-land {
					@include fontFamily('Amplitude_Light', 15px, normal, 300);
				}

				@include bp-ipod-port {
					margin-bottom: 0;
					@include fontFamily('Amplitude_Light', 12px, normal, 300);
				}
			}
		}

		.banner-slogan {
			width: 77%;
			margin: 10px auto 38px;
			@include fontFamily('Amplitude_Light', 30px, normal, 300);

			@include bp-ipad-port {
				margin-bottom: 20px;
				@include fontFamily('Amplitude_Light', 22px, normal, 300);
			}

			@include bp-tablet {
				@include fontFamily('Amplitude_Light', 20px, normal, 300);
			}

			@include bp-ipod-land {
				margin: 5px auto;
				@include fontFamily('Amplitude_Light', 15px, normal, 300);
			}


			@include bp-ipod-port {
				margin-top: 5px;
				margin-bottom: 0;
				@include fontFamily('Amplitude_Light', 14px, normal, 300);
			}
		}

		.page-nav {
			@include fontFamily('Amplitude_Light', 27px, normal, 300);

			@include bp-ipad-port {
				@include fontFamily('Amplitude_Light', 18px, normal, 300);
			}

			@include bp-tablet {
				@include fontFamily('Amplitude_Light', 18px, normal, 300);
			}

			@include bp-ipod-land {
				margin-top: 15px;
				@include fontFamily('Amplitude_Light', 11.5px, normal, 300);
			}

			@include bp-ipod-port {
				margin-top: 16px;
				@include fontFamily('Amplitude_Light', 14px, normal, 300);
			}

			ul {
				text-align: center;
				li {
					padding-left: 8px;
					display: inline-block;

					&:first-child{
						margin: 0;
						padding-left: 0;
					}

					@include bp-ipod-port {
						margin-top: 5px;
						display: block;
					}

					a {
						color: $white;
						text-decoration: none;

						&:hover {
							text-shadow: $white 0 0 15px;
							@include transition(text-shadow .3s);
						}

						.right-arrow {
							width: 28px;
							height: 28px;
							margin-left: 10px;
							display: inline-block;
							vertical-align: middle;
							background: transparent url(../images/home.right-arrow.png) center center no-repeat;
							-webkit-background-size: cover;
							-moz-background-size: cover;
							-o-background-size: cover;
							background-size: cover;

							@include bp-ipod-land {
								width: 16px;
								height: 16px;
							}
							@include bp-small {
								transform: scale(.7);
								-webkit-transform: scale(.7);
							}
						}
					}
				}
			}
		}

		.scroll-to {
			position: absolute;
			left: 50%;
			bottom: 5px;
			color: $white;
			text-decoration: none;
			@include fontFamily('Amplitude_Light', 18px, normal, 300);

			@include bp-ipod-land {
				@include fontFamily('Amplitude_Light', 15px, normal, 300);
			}

			@include bp-ipod-port {
				left: 45%;
				@include fontFamily('Amplitude_Light', 15px, normal, 300);
			}

			&:hover {
				text-shadow: $white 0 0 15px;
				@include transition(text-shadow .3s);
			}

			.down-arrow {
				width: 16px;
				height: 10px;
				margin: 10px auto 0;
				display: block;
				position: relative;
				background: transparent url(../images/home.scroll-arrow.png) no-repeat;
			}
		}
	}
}

/*================================================================
  3. Flexslider
==================================================================*/
.flex-control-nav { display: none; }

.flexslider {
	border: none;
	margin: 0;
	overflow: hidden;

	.flex-direction-nav { display: none; }
	.iframe-wrapper-slide {
		width: 100%;
		padding-top: 37.82%;
		height: auto;
		display: none;
		position: relative;
		background: #000;

		object,iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.image {
		width: 100%;
		padding-top: 37.82%;
		display: block;
		background: #000 url(../images/elaine.jpg);
		background-size: 100% 100%;
		cursor: pointer;
	}
	&.slidy {
		.slides {
			img {
				width: 100%;
				height: 100%;
				max-height: 484px;
			}
		}
	}
}

.carousy {
	padding: 26px 0;
	background-color: $lightBrown;

	.slides {
		margin-left: 0 !important;
		// min-width: 100% !important;
		// width: auto !important;
		text-align: center;

		li {
			width: 20.55vw !important;
			// max-width: 266px !important;
			margin-left: 1.15vw;
			float: left;
			opacity: .6;
			display: block;
			cursor: pointer;
			&:nth-of-type(1) {
				margin-left: 0!important;
			}
			@include bp-tablet {
				width: 212px !important;
				margin-left: 12px;
			}
			@include bp-medium {
				width: 27.5vw !important;
				margin-left: 1.5vw;
			}

			@include bp-medium2 {
				width: 42vw !important;
			}
			@include bp-medium3 {
				width: 42vw !important;
			}

			@include bp-small {
				width: 56vh !important;
				margin-left: 1.8vh !important;
			}

			.iframe-wrapper {
				width: 37.82%;
				padding-top: 56.25%;
				display: none;
				position: relative;

				iframe {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.play-button,
			.time {
				width: 98%;
				max-width: 257px;
				margin-top: 29px;
				display: block;
				color: $darkBrown;
				@include fontFamily('Amplitude_Light', 18px, normal, 300);
				line-height: 22px;
				text-align: left;
			}

			.play-button {
				@include bp-ipod-land {
					margin-top: 20px;
				}

				@include bp-ipod-port {
					margin-top: 20px;
				}
			}

			.time {
				margin-top: 0;

				@include bp-ipod-land {
					margin-bottom: 20px;
				}

				@include bp-ipod-port {
					margin-bottom: 20px;
				}
			}
		}

		span.up {
			 	vertical-align: super;
			 	@include fontFamily('Amplitude_Light',14px,normal,300);

			 	@include bp-medium {
			 		@include fontFamily('Amplitude_Light',9px,normal,300);
			 	}

			 	@include bp-small {
			 		@include fontFamily('Amplitude_Light',6px,normal,300);
			 	}
		}
	}

	.flex-active-slide { opacity: 1 !important; }
}


#carousel .flex-direction-nav { display: block !important;}
/*================================================================
  4. How it works
==================================================================*/

.how-works {
	padding: 23px 0 50px;
	text-align: center;
	h2 {
		margin-bottom: 10px;
		color: $darkBrown;
		@include fontFamily('Amplitude_Regular', 42px, normal, 300);

		@include bp-ipad-land {
			@include fontFamily('Amplitude_Regular', 36px, normal, 300);
		}

		@include bp-tablet {
			@include fontFamily('Amplitude_Regular', 30px, normal, 300);
		}

		@include bp-ipod-land {
			@include fontFamily('Amplitude_Light', 32px, normal, 300);
		}

		@include bp-ipod-port {
			@include fontFamily('Amplitude_Light', 30px, normal, 300);
		}
	}
	p {
		width: 93.77%;
		margin: 0 auto;
		color: $textBrown;
		@include fontFamily('Amplitude_Light', 30px, normal, 300);

		@include bp-ipad-land {
			@include fontFamily('Amplitude_Light', 26px, normal, 300);
		}

		@include bp-tablet {
			@include fontFamily('Amplitude_Light', 24px, normal, 300);
		}

		@include bp-ipod-land {
			@include fontFamily('Amplitude_Light', 18px, normal, 300);
		}

		@include bp-ipod-port {
			@include fontFamily('Amplitude_Light', 15px, normal, 300);
		}

		.sup {
			@include fontFamily('Amplitude_Light', 15px, normal, 300);
				vertical-align: super;

				@include bp-ipad-land {
					@include fontFamily('Amplitude_Light', 15px, normal, 300);
				}

				@include bp-ipod-port {
					margin-bottom: 0;
					@include fontFamily('Amplitude_Light', 12px, normal, 300);
				}
		}
	}
}

/*================================================================
  5. Detailed block
==================================================================*/

.detailed-block {
	text-align: center;

	div {
		margin-bottom: 56px;

		@include bp-ipad-land {
			margin-bottom: 30px;
		}

		@include bp-tablet {
			margin-bottom: 30px;
		}

		.one {
			margin-right: 57px;
			@include bp-ipad-land {
				margin-right: 3%;
			}

			@include bp-ipad-port {
				margin-right: 3%;
			}

			@include bp-tablet {
			margin-right: 3%;
			}

			@include bp-ipod-land {
				margin-right: 0;
			}

			@include bp-ipod-port {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}

		div {
			width: 49%;
			max-width: 480px;
			display: inline-block;
			vertical-align: middle;
			text-align: left;

			@include bp-ipod-land {
				width: 100%;
				max-width: 100%;
				display: block;
			}

			@include bp-ipod-port {
				width: 100%;
				display: block;
			}

			h3 {
				margin-bottom: 2px;
				color: $titleBrown;

				@include fontFamily('Amplitude_Medium', 25px, normal, 500);

				@include bp-ipad-land {
					@include fontFamily('Amplitude_Medium', 22px, normal, 500);
				}

				@include bp-ipad-port {
					@include fontFamily('Amplitude_Medium', 19px, normal, 500);
				}

				@include bp-tablet {
					@include fontFamily('Amplitude_Medium', 20px, normal, 500);
				}

				@include bp-ipod-land {
					@include fontFamily('Amplitude_Medium', 19px, normal, 500);
				}

				@include bp-ipod-port {
					@include fontFamily('Amplitude_Medium', 19px, normal, 500);
				}
			}

			p {
				margin-bottom: 14px;
				color: $textBrown;

				@include fontFamily('Amplitude_Light', 25px, normal, 300);

				@include bp-ipad-land {
					@include fontFamily('Amplitude_Light', 22px, normal, 300);
				}

				@include bp-ipad-port {
					@include fontFamily('Amplitude_Light', 20px, normal, 300);
				}

				@include bp-tablet {
					@include fontFamily('Amplitude_light', 20px, normal, 300);
				}

				@include bp-ipod-land {
					@include fontFamily('Amplitude_light', 18px, normal, 300);
				}

				@include bp-ipod-port {
					@include fontFamily('Amplitude_light', 16px, normal, 500);
				}
			}

			a {
				color: $darkBrown;
				@include fontFamily('Amplitude_Light', 25px, normal, 300);

				@include bp-ipad-land {
					@include fontFamily('Amplitude_Light', 22px, normal, 300);
				}

				@include bp-ipad-port {
					@include fontFamily('Amplitude_Light', 18px, normal, 500);
				}

				@include bp-tablet {
					@include fontFamily('Amplitude_light', 18px, normal, 500);
				}

				@include bp-ipod-land {
					@include fontFamily('Amplitude_light', 17px, normal, 300);
				}

				@include bp-ipod-port {
					@include fontFamily('Amplitude_light', 16px, normal, 500);
				}

				&:hover,&:focus {
					text-decoration: none;
					opacity: .5;
				}

				.right-brown-arrow {
					width: 20px;
					height: 20px;
					margin-left: 13px;
					display: inline-block;
					vertical-align: -2px;
					background-image: url(../images/read-article.png);
				}

				.open-modal {
					width: 20px;
					height: 20px;
					margin-left: 13px;
					display: inline-block;
					vertical-align: -2px;
					background-image: url(../images/new-window-icon.png);
				}
			}

			.comming-soon {
				&:hover,&:focus {
					text-decoration: none;
					opacity: 1;
				}
			}
		}

		.text-block {
			width: 46%;

			@include bp-ipod-land {
				width: 100%;
			}

			@include bp-ipod-port {
				width: 100%;
			}
		}

		.image-block {
			@include bp-ipod-land {
				text-align: center;
			}
		}
	}
}

/*================================================================
  6. Common Questions
==================================================================*/

.questions  {
	margin-bottom: 50px;
	text-align: center;
	h3 {
		color: $darkBrown;
		@include fontFamily('Amplitude_Regular', 42px, normal, 300);
		text-align: center;

		@include bp-ipod-land {
			@include fontFamily('Amplitude_Regular', 35px, normal, 300);
		}

		@include bp-ipod-port {
			@include fontFamily('Amplitude_Regular', 25px, normal, 300);
		}
	}
	.list-questions {
		margin: 20px 0 40px;
		text-align: left;
		li a {
			text-decoration: none;
			color: $textBrown;
			@include fontFamily('Amplitude_Light', 25px, normal, 300);
			line-height: 50px;

			@include bp-ipod-land {
				margin-top: 15px;
				@include fontFamily('Amplitude_Light', 20px, normal, 300);
				line-height: 30px;
			}

			@include bp-ipod-port {
				margin-top: 15px;
				@include fontFamily('Amplitude_Light', 20px, normal, 300);
				line-height: 30px;
			}

			&:first-child {
				@include bp-ipod-land {
					margin-top: 0;
				}

				@include bp-ipod-port {
					margin-top: 0;
				}
			}

			.bold-brown {
				margin-right: 5px;
				color: $textBrown;
				@include fontFamily('Amplitude_Medium', 25px, normal, 300);

				@include bp-ipod-land {
					@include fontFamily('Amplitude_Medium', 20px, normal, 300);
				}

				@include bp-ipod-port {
					@include fontFamily('Amplitude_Medium', 20px, normal, 300);
				}
			}
		}
	}
	a {
		text-decoration: none;
		color: $darkBrown;
		@include fontFamily('Amplitude_Light', 30px, normal, 300);

		@include bp-ipod-land {
			@include fontFamily('Amplitude_Light', 25px, normal, 300);
			line-height: 30px;
		}

		@include bp-ipod-port {
			@include fontFamily('Amplitude_Light', 25px, normal, 300);
			line-height: 30px;
		}

		&:hover,&:focus {
			text-decoration: none;
			opacity: .5;
		}

		.right-big-arrow {
			width: 20px;
			height: 20px;
			margin-left: 21px;
			@include transform(scale(1.5));
			display: inline-block;
			background-image: url(../images/read-article.png);
		}
	}
}


/*================================================================
  7. Light Box styling
==================================================================*/

.contentBox {
	width: 80%;
	height: 70vh;
	overflow: auto;
	padding: 50px;
	display: none;
	position: fixed;
	top: 20%;
	left: 10%;
	z-index: 100000;
	background-color: #fff;
	box-shadow: 0px 0px 1px #000;
	text-align: left;
	img {
		width: 100%;
	}
	h3 {
		margin-bottom: 30px;
		color: $darkBrown;
		@include fontFamily('Amplitude_Light', 36px, normal, 500);
		text-align: center;

		@include bp-ipod-land {
			@include fontFamily('Amplitude_Light', 25px, normal, 500);
		}

		@include bp-ipod-port {
			@include fontFamily('Amplitude_Light', 25px, normal, 500);
		}
	}
	p {
		margin: 30px 0;
		color: $titleBrown;
		@include fontFamily('Amplitude_Regular', 30px, normal, 300);

		@include bp-ipod-land {
			@include fontFamily('Amplitude_Regular', 15px, normal, 500);
		}

		@include bp-ipod-port {
			@include fontFamily('Amplitude_Regular', 15px, normal, 500);
		}

		.sup {
			@include fontFamily('Amplitude_Light', 15px, normal, 300);
				vertical-align: super;

				@include bp-ipad-land {
					@include fontFamily('Amplitude_Light', 15px, normal, 300);
				}

				@include bp-ipod-port {
					margin-bottom: 0;
					@include fontFamily('Amplitude_Light', 12px, normal, 300);
				}
		}
	}
	li {
		margin-top: 25px;
		color: $textBrown;
		@include fontFamily('Amplitude_Light', 30px, normal, 500);

		@include bp-ipod-land {
			@include fontFamily('Amplitude_Light', 15px, normal, 500);
		}

		@include bp-ipod-port {
			@include fontFamily('Amplitude_Light', 15px, normal, 500);
		}
		span {
			color: $darkBrown;
			@include fontFamily('Amplitude_Regular', 30px, normal, 500);

			@include bp-ipod-land {
				@include fontFamily('Amplitude_Regular', 15px, normal, 500);
			}

			@include bp-ipod-port {
				@include fontFamily('Amplitude_Regular', 15px, normal, 500);
			}
		}
	}
}

.close-button-home {
	width: 33px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	background:  url('../images/close.png');
	cursor: pointer;
}

.carousyWrapper {
	overflow: hidden;
	background-color: #d7d2cb;
	#carousel {
		width: 86.66%;
		max-width: 100% !important;
		margin: 0 auto;
		overflow: visible !important;
	}
}
.flex-direction-nav a {
	outline: none;
	font-size: 0;
	top: 35%;
	@include bp-medium {
		top: 30%;
	}
}

.flex-nav-prev a {
	opacity: 1;
	left: -35px !important;
	@include bp-medium {
		left: -20px !important;
	}
	@include bp-small {
		left: -19px !important;
	}
	&:before {
	width: 15px;
	height: 25px;
		content: "" !important;
		background: url("../images/arrown_left.png") no-repeat;
	}
}

.flex-nav-next a {
	opacity: 1;
	right: -35px !important;
	@include bp-medium {
		right: -20px !important;
	}
	@include bp-small {
		right: -15px !important;
	}
	&:before {
	width: 15px;
	height: 25px;
		content: "" !important;
		background: url("../images/arrow_right.png") no-repeat;
	}
}
      .video-container {
      	width: 100%;
      	padding-top: 41.25%;
      	position: relative;
      	z-index: 5000;
	    @include bp-tablet {
		  padding-top: 56.25%;
	    }
	    @include bp-medium {
		  padding-top: 56.25%;
	    }
	    @include bp-small {
		  padding-top: 56.25%;
	    }
		object,iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
      }
.videoContent {
	width: 80%;
	padding: 50px;
		position: fixed;
		display: none;
		top: 14%;
		left: 10%;
	  height: 73vh;
	  z-index: 2000;
	  overflow: hidden;
      background-color: transparent;
      box-shadow: none;
      @include bp-large {
		top: 20%;
      }

	  @include bp-tablet {
	  	top : 26%;
		padding: 50px 0;
	  }
	  @include bp-medium {
	  	height: auto;
	  	top: 0;
	  	padding: 60px 0 0;
	  }
	  @include bp-medium3 {
		top: 26%;
	  }
	  @include bp-small {
	  	height: auto;
	  	top: 100px;
	  	padding: 70px 0 0;
	  	left: 6%;
	  }

}  .overlay2 {
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background: #fff;
      opacity: .8;
  }
