/*------------------------------------------------------------------
[Table of contents]

1. Set a rem font size with pixel fallback
2. Breakpoints
3. Animation and Keyframes
4. Transitions
5. Transform
6. Cross browser opacity
7. Font Face

-------------------------------------------------------------------*/

/*================================================================
  1. Set a rem font size with pixel fallback

	Usage
	-----
	p {
	  @include font-size(14px)
	}

	Output
	------
	p {
	  font-size: 14px; //Will be overridden if browser supports rem
	  font-size: 0.8rem;
	}
==================================================================*/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*================================================================
  2. Breakpoints

  Usage
  ---------
	.sidebar {
	  width: 60%;
	  float: left;
	  margin: 0 2% 0 0;
	  @include bp-small {
	    width: 100%;
	    float: none;
	    margin: 0;
	  }
	}

	Output:
	----------
	.sidebar {
	  width: 60%;
	  float: left;
	  margin: 0 2% 0 0;
	  @media only screen and (max-width: 30){
	    .sidebar{width: 100%; float: none; margin: 0;}
	  }
	}
==================================================================*/

@mixin bp-extra-large {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 769px) and (max-width: 1039px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 321px) and (max-width: 767px) {
    @content;
  }
}

@mixin bp-medium2 {
  @media only screen and (min-width: 489px) and (max-width: 570px) {
    @content;
  }
}

@mixin bp-medium3 {
  @media only screen and (min-width: 321px) and (max-width: 488px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin bp-tablet {
  @media only screen and (width: 768px) {
    @content;
  }
}

@mixin bp-ipad-land {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin bp-ipad-port {
  @media (min-width: 769px) and (max-width: 991px) {
    @content;
  }
}

@mixin bp-ipod-land {
  @media (min-width: 480px) and (max-width: 767px) {
    @content;
  }
}

@mixin bp-ipod-port {
  @media (min-width: 320px) and (max-width: 479px) {
    @content;
  }
}

/*================================================================
  3. Animation and Keyframes

	Usage:
	---------
	@include keyframes(slide-down) {
	  0% { opacity: 1; }
	  90% { opacity: 0; }
	}

	.element {
	  width: 100px;
	  height: 100px;
	  background: black;
	  @include animation('slide-down 5s 3');
	}
==================================================================*/

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str, $fillMode: both) {
	-webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
  -webkit-animation-fill-mode: $fillMode;
     -moz-animation-fill-mode: $fillMode;
      -ms-animation-fill-mode: $fillMode;
       -o-animation-fill-mode: $fillMode;
          animation-fill-mode: $fillMode;
}


/*================================================================
  4. Transitions

	Usage:
	--------
	a {
	  color: gray;
	  @include transition(color .3s ease);
	  &:hover {
	    color: black;
	  }
	}
==================================================================*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


/*================================================================
  5. Transform

	Usage:
	--------
	a {
	  color: gray;
	  @include transform(rotate(20));
	  &:hover {
	    color: black;
	  }
	}
==================================================================*/
@mixin transform($val) {
     -moz-transform:$val;
      -ms-transform:$val;
          transform:$val;
  -webkit-transform:$val;
}

@mixin transform-origin($val) {
  -webkit-transform-origin:$val;
  -moz-transform-origin:$val;
  -ms-transform-origin:$val;
  transform-origin:$val;
}

@mixin transform-style($val) {
  -webkit-transform-style:$val;
  -moz-transform-style:$val;
  -ms-transform-style:$val;
  transform-style:$val;
}

/*================================================================
  6. Cross browser opacity

	Usage:
	----------
	.faded-text {
	  @include opacity(0.8);
	}
==================================================================*/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*================================================================
  7. Font Face

	Usage:
	----------
	@include fontFace('MyFont','font/myfont');
==================================================================*/
@mixin fontFace($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('#{$src}.woff') format('woff'), // standards
			url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
			url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}


@include fontFace('Amplitude_Light','../fonts/JPM_Amplitude_Webfont/JPM_Amplitude_Webfont/Amplitude_Light');

@include fontFace('Amplitude_Medium','../fonts/JPM_Amplitude_Webfont/JPM_Amplitude_Webfont/Amplitude_Medium');

@include fontFace('Amplitude_Regular','../fonts/JPM_Amplitude_Webfont/JPM_Amplitude_Webfont/Amplitude_Regular');



@mixin fontFamily($family: 'Amplitude_Regular', $size: 14px, $style: normal, $weight: normal) {
	font-family: $family, Arial, Helvetica, sans-serif;
	@include font-size($size);
	font-style: $style;
	font-weight: $weight;
}
