@import "variable.scss";
@import "site-mixins.scss";

/*================================================================
  1. CSS to the Thought Leadership Listing page
==================================================================*/

.thought-lead {
	.modern-portfolio {
		border-radius: 0;
		padding: 80px 0 40px;
		margin: 0;
		background-color: $bgBrown;
		font-size: 0;
		text-align: center;
		@include bp-tablet { padding: 30px 0; }
		@include bp-medium { padding: 30px 0; }
		@include bp-small { padding: 25px 0; }
		.wrapper {
			width: 95%;
			max-width: 1192px;
			margin: 0 auto;
		}
		h3 {
			color: $textBrown;
			@include fontFamily('Amplitude_Light', 55px, normal, 300);

			line-height: 41px;
			@include bp-large {	@include font-size(50px); }
			@include bp-tablet { @include font-size(30px); }
			@include bp-medium { @include font-size(30px); }
			@include bp-small {
				margin-bottom: 15px;
				@include font-size(22px);
				line-height: 20px;
			}
			a {
				color: $textBrown;
				text-decoration: none;
				// &:hover { opacity: .5; }
			}
		}
		span {
			width: 7.7%;
			border-top: 3px solid $textBrown;
			margin: 36px 0 41px;
			font-size: 0;
			@include bp-tablet {
				width: 17.7%;
				margin: 26px 0 31px;
			}
			@include bp-medium {
				width: 17.7%;
				margin: 26px 0 31px;
			}
			@include bp-small {
				width: 27.7%;
				margin: 0 0 15px 0;
			}
		}
		p {
			width: 91%;
			margin: 0 auto;
			color: $textBrown;
			@include fontFamily('Amplitude_Light', 25px, normal, 300);
			@include bp-tablet { @include font-size(20px); }
			@include bp-medium { @include font-size(20px); }
			@include bp-small {
				@include font-size(17px);
				line-height: 22px;
			}
		}
		#read-article {
			padding: 14px 30px;
			border: 1px solid #411f1b;
			margin-top: 36px;
			// background: url(../images/read-article.png) no-repeat 90% 52%;
			// @include animation('bgArticleNormal .4s forwards');
			color: $darkBrown;
			@include fontFamily('Amplitude_Light', 22px, normal, 300);

			text-decoration: none;
			@include transition(all .5s);
			// &:hover {
			// 	@include animation('bgArticleHover .4s forwards');
			// 	background: #42151b url(../images/read-article-hover.png) no-repeat 90% 52%;
			// 	color: $white;
			// }
			@include bp-tablet {
				padding: 10px 30px;
				margin-top: 20px;
				@include font-size(18px);
			}
			@include bp-medium {
				padding: 10px 30px;
				margin-top: 20px;
				@include font-size(18px);
			}
			@include bp-small {
				padding: 5px 15px;
				margin-top: 15px;
				@include font-size(16px);
			}
		}
	}
}

.section-diff-color { background-color: #f4f2f0; }
.thought-lead {
	section {
		padding: 65px 0 57px;
		@include bp-large {
			padding: 35px 0;
		}
		@include bp-tablet {
			padding: 20px 0;
		}
		@include bp-medium {
			padding: 20px 0;
		}
		@include bp-small {
			padding: 5px 0;
		}
		.wrapper {
			width: 90%;
			max-width: 1192px;
			margin: 0 auto;
		}
		article {
			@include bp-large {	padding-bottom: 25px;	}
			@include bp-tablet {
				width: 48%;
				padding: 25px 0;
				&:nth-of-type(1) { margin-right: 25px; }
			}
			@include bp-medium { padding: 25px 0; }
		}
		span {
			font-size: 0;
			clear: both;
			@include bp-large {
				display: none;
			}
			@include bp-tablet {
				display: none;
			}
			@include bp-medium {
				width: 27.7%;
				margin: 0 auto;
				border-top: 3px solid $textBrown;
				display: block;
				font-size: 0;
			}
			@include bp-small {
				width: 27.7%;
				margin: 0 auto;
				border-top: 2px solid $textBrown;
				display: block;
			}
		}
		.article-info {
			@include bp-small {	padding:30px 0;	}
		}
		h3 {
			margin-bottom: 10px;
			a {
					width: 90%;
					color: $darkBrown;
					@include fontFamily('Amplitude_Light', 36px, normal, 300);
					line-height: 37px;
					@include bp-tablet {
						@include font-size(25px);
						line-height: 25px;
					}
					@include bp-medium {
						@include font-size(25px);
						line-height: 25px;
					}
					@include bp-small {
						@include font-size(20px);
						line-height: 20px;
					}
					&:hover,
					&:focus {
						color: $darkBrown;
						text-decoration: none;
						opacity: .5;
						outline: none;
					}
			}
		}

		p {
			width: 89.5%;
			color: $textBrown;
			@include fontFamily('Amplitude_Light', 22px, normal, 300);
			line-height: 28px;
			@include bp-tablet {
				width: 94.5%;
				@include font-size(18px);
				line-height: 22px;
			}
			@include bp-medium {
				@include font-size(18px);
				line-height: 22px;
			}
			@include bp-small {
				@include font-size(16px);
				line-height: 20px;
			}
		}
		ul {
			padding: 20px 0 0 20px;
			@include bp-medium { padding: 10px 0 0 20px; }
			@include bp-small { padding: 10px 0 0 20px; }
			li{
				margin-bottom: 20px;
				line-height: 20px;
				@include bp-tablet { margin-bottom: 5px; }
				@include bp-medium { margin-bottom: 5px; }
				@include bp-small {	margin-bottom: 0;	}
				a{
					color: $darkBrown;
					cursor: pointer;
					@include fontFamily('Amplitude_Light', 22px, normal, 300);
					@include bp-tablet { @include font-size(18px); }
					@include bp-medium { @include font-size(18px); }
					@include bp-small {	@include font-size(16px);	}
					&:hover {
						@include transition(all .4s ease);
						color: $darkBrown;
						text-decoration: none;
						opacity: .5;
					}
					&:focus {
						color: $darkBrown;
						text-decoration: none;
						outline: none;
					 }
					&:after {
						padding-left: 15px;
						display: inline-block;
						content: url(../images/read-article.png);
						vertical-align: middle;
						@include bp-small {
							@include transform(scale(.7));
							padding-left: 10px;
						}
					}
				}
			}
			li:last-of-type { margin: 0; }
		}
	}
}


@include keyframes(left-to-right) {
    0% {
        @include transform(translate(0));
    }

		35% {
			 @include transform(translateX(15px));
		}

    70% {
        @include transform(translateX(25px));
    }
    100% {
        @include transform(translateX(15px));
    }

}

@include keyframes(bgArticleHover) {
    0% {
        opacity: 0;
        background-image: url("../images/read-article-hover.png");
    }
    25% {
        opacity: 0.3;
        background-image: url("../images/read-article-hover.png");
    }
    50% {
        opacity: 0.6;
        background-image: url("../images/read-article-hover.png");
    }
    75% {
        opacity: 0.8;
        background-image: url("../images/read-article-hover.png");
    }
    100% {
        opacity: 1;
        background-image: url("../images/read-article-hover.png");
    }
}

@include keyframes(bgArticleNormal) {
    0% {
        opacity: 0;
        background-image: url("../images/read-article.png");
    }
    25% {
        opacity: 0.3;
        background-image: url("../images/read-article.png");
    }
    50% {
        opacity: 0.6;
        background-image: url("../images/read-article.png");
    }
    75% {
        opacity: 0.8;
        background-image: url("../images/read-article.png");
    }
    100% {
        opacity: 1;
        background-image: url("../images/read-article.png");
    }
}

/*================================================================
  1. CSS to the Thought Leadership Detail Page
==================================================================*/

.thought-security {
	.wrapper {
		width: 95%;
		max-width: 1224px;
		margin: 0 auto;
		div {
			display: inline-block;
			vertical-align: middle;
		}
		.morder-portfolio-soon { display: block; }
	}
	.main-features {
		.wrapper { width: 100%; }
		font-size: 0;
		background-color: $lightBrown;

		.back-to-thoughtlead {
			width: 87.48%;
			padding: 13px 0;
			background-color: $lightBrown;
			@include bp-tablet {
				width: auto;
				padding: 5px 0 0;
				float: left;
			}
			@include bp-medium {
				width: auto;
				padding: 5.5px 0 0;
				float: left;
			}
			@include bp-small {
				width: auto;
				padding: 5.5px 0 0;
				float: left;
			}
			a {
				margin-left: 40px;
				color: $darkBrown;
				@include fontFamily('Amplitude_Light', 24px, normal, 300);
				@include bp-tablet {
					margin-left: 20px;
					@include font-size(20px);
				}
				@include bp-medium {
					margin-left: 20px;
					@include font-size(20px);
				}
				@include bp-small {
					margin-left: 10px;
					line-height: 17px;
					@include font-size(18px);
				}
				&::before {
					display: inline-block;
					padding: 1px 11px 0 0;
					content: url(../images/Back.png);
					vertical-align: middle;
					@include bp-small {
						padding: 0 11px 0 0;
					}
				}
				&:hover,&:focus {
					opacity: .5;
					text-decoration: none;
				}
			}
		}
		.main-sub-feature {
			width: 12.52%;
			position: relative;
			background-color: #ebe8e5;
			text-align: center;
			@include bp-tablet {
				width: auto;
				padding: 0 10px;
				float: right;
			}
			@include bp-medium {
				width: auto;
				float: right;
			}
			@include bp-small {
				width: auto;
				float: right;
			}
			 > ul {
				padding: 12px 5px;
				font-size: 0;
				@include bp-tablet {
					padding: 0 5px;
				}
				@include bp-medium {
					padding: 0 15px;
				}
				@include bp-small {
					padding: 3px 5px;
				}
				 > li {
				 	margin-right: 35px;
					vertical-align: middle;
					@include bp-tablet {
						margin-right: 25px;
					}
					@include bp-medium {
						margin-right: 18px;
					}
					@include bp-small {
						margin-right: 10px;
					}
					a {
						color: $darkBrown;
						cursor : pointer;
						span:first-of-type {
							@include fontFamily('Amplitude_Light', 30px, normal, 300);
							@include bp-small {
								@include font-size(20px);
							}
						}
						span:last-of-type {
							@include fontFamily('Amplitude_Light', 18px, normal, 300);
							@include bp-small {
								@include font-size(16px);
							}
						}
						&:hover,&:focus {
							opacity: .5;
							text-decoration: none;
						}
					}
					.fontHover {
						width: 60px;
						padding: 0 10px 5px;
						background-color: #ebe8e5;
						display: none;
						position: absolute;
						left: 0;
						z-index: 50;
						@include bp-medium {
							width: 50px;
						}

						@include bp-small {
							padding: 0 5px 5px 5px;
							width: 30px;
						}

						li {
							margin-top: 10px;
						}
					}
				}
				 > li:last-of-type {
				 	margin-right: 0;
					a {
						@include bp-tablet {
							@include transform(scale(.8));
						}
						@include bp-medium {
							@include transform(scale(.8));
						}
						@include bp-small {
							@include transform(scale(.7));
						}
					}
				}
			}
		}
	}

	.main-min-ht { min-height: 436px; }

	.main-content {

		padding: 62px 0;
		@include bp-large {
			padding: 40px 0;
		}
		@include bp-tablet {
			padding: 25px 0;
		}
		@include bp-medium {
			padding: 25px 0;
		}
		@include bp-small {
			padding: 15px 0;
		}
		.wrapper {
			max-width: 1130px;
		}
		.italic { font-style: italic; }
		h5,.internal-heading {
			border: none;
			margin-bottom: 10px;
			color: $darkBrown;
			@include fontFamily('Amplitude_Regular', 22px, normal, 300);
			@include bp-large {
				@include font-size(20px);
			}
			@include bp-tablet {
				margin-bottom: 5px;
				@include font-size(18px);
			}
			@include bp-medium {
				margin-bottom: 5px;
				@include font-size(18px);
			}
			@include bp-small {
				margin-bottom: 2px;
				@include font-size(16px);
			}
		}
		.internal-ol { list-style: decimal inside; }
		.external-list,
		.internal-ol {
			margin: 20px 0;
			li { margin-bottom: 5px; }
		}
		.six-factors,.medicare-ways {
			margin: 20px 0 0;
			> li {
				margin-bottom: 30px;
				.considerations { margin: 25px 0 20px; }
				ul {
					li { margin-bottom: 5px; }
				}
			}
		}
		.retiring-job-heading {
			padding-bottom: 10px;
			border-bottom: 1px solid #000;
		}
		h6 {
			margin-bottom: 10px;
			color: #FAAC58;
			@include fontFamily('Amplitude_Bold', 20px, normal, 300);
			@include bp-large {
				@include font-size(18px);
			}
			@include bp-tablet {
				margin-bottom: 5px;
				@include font-size(16px);
			}
			@include bp-medium {
				margin-bottom: 5px;
				@include font-size(16px);
			}
			@include bp-small {
				margin-bottom: 2px;
				@include font-size(14px);
			}
		}
		p,
		li {
			color: $darkBrown;
			@include fontFamily('Amplitude_Light', 22px, normal, 300);
			@include bp-large {
				@include font-size(20px);
			}
			@include bp-tablet {
				@include font-size(18px);
			}
			@include bp-medium {
				@include font-size(18px);
			}
			@include bp-small {
				@include font-size(16px);
			}
		}
		span.up {
			vertical-align: super;
			@include font-size(14px);
		}
		.content-heading {
			h3 {
				color: $darkBrown;
				@include fontFamily('Amplitude_Light', 36px, normal, 300);
				@include bp-large {
					@include font-size(30px);
				}
				@include bp-tablet {
					@include font-size(24px);
				}
				@include bp-medium {
					@include font-size(24px);
				}
				@include bp-small {
					@include font-size(18px);
				}
			}
			h4 {
				margin: 8px 0 50px;
				color: $textBrown;
				@include fontFamily('Amplitude_Light', 18px, normal, 300);
				@include bp-large {
					margin: 8px 0 40px;
					@include font-size(17px);
				}
				@include bp-tablet {
					margin: 4px 0 30px;
					@include font-size(16px);
				}
				@include bp-medium {
					margin: 4px 0 30px;
					@include font-size(16px);
				}
				@include bp-small {
					margin: 4px 0 15px;
					@include font-size(15px);
				}
			}
		}
		.main-info {
			p:nth-of-type(1) {
				margin-bottom: 28px;
				color: #8e8279;
				@include fontFamily('Amplitude_Regular', 22px, normal, 300);
				@include bp-large {
					@include font-size(20px);
				}
				@include bp-tablet {
					@include font-size(18px);
				}
				@include bp-medium {
					@include font-size(18px);
				}
				@include bp-small {
					@include font-size(16px);
				}
			}
			p:nth-of-type(3),
			p:nth-of-type(4),
			p:nth-of-type(5),
			p:nth-of-type(6),
			.medicare-second-para {
				margin-bottom: 20px;
				@include bp-large {
					margin-bottom: 16px;
				}
				@include bp-tablet {
					margin-bottom: 12px;
				}
				@include bp-medium {
					margin-bottom: 12px;
				}
				@include bp-small {
					margin-bottom: 8px;
				}
			}
		}
		.main-importance,
		.main-funds,
		.main-tax-account,
		.main-medicare-nos,
		.main-medicare-search,
		.main-medicare-plan {
			p {
				margin-bottom: 20px;
				@include bp-large {
					margin-bottom: 16px;
				}
				@include bp-tablet {
					margin-bottom: 12px;
				}
				@include bp-medium {
					margin-bottom: 12px;
				}
				@include bp-small {
					margin-bottom: 8px;
				}
			}
		}
		.main-perspective {
			p:nth-of-type(1),
			p:nth-of-type(2),
			p:nth-of-type(3),
			p:nth-of-type(4),
			ul {
				margin-bottom: 30px;
				@include bp-large {
					margin-bottom: 25px;
				}
				@include bp-tablet {
					margin-bottom: 15px;
				}
				@include bp-medium {
					margin-bottom: 15px;
				}
				@include bp-small {
					margin-bottom: 8px;
				}
			}

			.graphical-info {
				width: 55%;
				float: left;
				@include bp-large {
					width: 100%;
					float: none;
				}
				@include bp-tablet {
					width: 100%;
					float: none;
				}
				@include bp-medium {
					width: 100%;
					float: none;
				}
				@include bp-small {
					width: 100%;
					float: none;
				}
			}

			.graphical-img {
				width: 42%;
				float: right;
				position: relative;
				text-align: center;
				a + a {
					position: absolute;
					right: 35px;
					bottom: 0;
				}
				@include bp-large {
					width: 100%;
					float: none;
				}
				@include bp-tablet {
					width: 100%;
					float: none;
				}
				@include bp-medium {
					width: 100%;
					float: none;
				}
				@include bp-small {
					width: 100%;
					float: none;
				}
			}
		}
	}
}

  .overlay {
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background: #fff;
      opacity: .8;
  }

  .imageBox {
      width: 80%;
      display: none;
      position: fixed;
      top: 20%;
      left: 10%;
      z-index: 100000;
			text-align: center;
			@include bp-medium {
				top: 10%;
			}
			@include bp-tablet {
				top: 10%;
			}
			@include bp-small {
				top: 10%;
			}
      img {
      	width: 60%;
      	@include bp-medium {
      		width: 80%;
      	}
      	@include bp-tablet {
      		width: 80%;
      	}
      	@include bp-small{
      		width: 100%;
      	}
      }
  }

  .close-button {
      width: 33px;
      height: 30px;
      display: inline-block;
      position: absolute;
      top: -27px;
      right: 0;
      background:  url('../images/close.png');
      cursor: pointer;
  }
