/*------------------------------------------------------------------
[Table of contents]

1. Color Variables
2. Path Variables

-------------------------------------------------------------------*/

/*================================================================
  1. Color Variables
==================================================================*/
$darkBrown: #310008;

$white: #fff;

$hoverBrown: #533d3d;

$lightBrown: #d7d2cb;

$textBrown: #411f1e;

$titleBrown: #b6ada5;

$blockBrown: #8c8279;

$bgBrown: #d9d2cb;

$lightGrey : #ece8e5;

$QuestionBg : #ebe8e4; 

$AnswerBg: #e0dcd6;