extends layouts/default

block content
	//- learnMoreVal will add dynamic Learn more value to learnmore.jade.
	- var learnMoreVal = 'Thought Leadership';

	- var secondLearnMore = 'Learn More'

	- var learnMore = 'Learn More';
	//- inlineBlock var is used assign an element dislay inline-block.
	- var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'
	//- pageName will add dynamic page title in the page-title.jade.
	- var pageName = 'Additional Resources';

	- var commonQues = 'Common Questions'

	- var linkTwo = 'thought-lead.html'

	- var linkThree = 'common-questions.html'

	include includes/page-title.jade

	main.add-resources
		//- Video and it's description section
		.vdo-block.wrapper
			.row.inline-block.clearfix
				.gbwm-vdo
					a.videoBox(href='FIXME' title='Play Video' class=inlineBlock src-data = "a")
						img(src='images/home.industry-leading-ar.jpg' alt='video')
				.gbwm-vdo-info
					h3.vdo-title Using the GBWM Wealth Projection System
					span.vdo-duration(class=inlineBlock) 04:43
					p.vdo-content GBWM is a detailed step-bystep process featuring a new industry-leading digital system designed to guide an interactive dialogue with your clients – walking them, step-by-step through multiple scenarios, probabilities, and risks.
					a.view-demo.videoBox(href='FIXME' title='View Demo' class=inlineBlock src-data = "a") View Demo #[span.right-arrow]
			.row.inline-block
				.gbwm-vdo
					a.videoBox(href='FIXME' title='Play Video' class=inlineBlock src-data = "b")
						img(src='images/Elaine-ar.jpg' alt='video')
				.gbwm-vdo-info
					h3.vdo-title What is Goals-Based Wealth Management?
					span.vdo-duration(class=inlineBlock) 01:54
					p.vdo-content Advice has always been the core of our business. Goals-Based Wealth Management is a powerful next step in positioning J.P. Morgan as the industry leader in wealth management advice.  
					a.view-demo.videoBox(href='FIXME' title='View Video' class=inlineBlock src-data = "b") View Video #[span.right-arrow]

			.row.inline-block
				.gbwm-vdo
					a.videoBox(href='FIXME' title='Play Video' class=inlineBlock src-data = "c")
						img(src='images/erik-ar.jpg' alt='video')
				.gbwm-vdo-info
					h3.vdo-title What is a Wealth Strategist#[span.sup SM]?
					span.vdo-duration(class=inlineBlock) 02:04
					p.vdo-content Wealth Strategists work with the integrated team to deliver the Firm’s best thinking and advice to our clients and prospects.
					a.view-demo.videoBox(href='FIXME' title='View Video' class=inlineBlock src-data = "c") View Video #[span.right-arrow]

			.row.inline-block
				.gbwm-vdo
					a.videoBox(href='FIXME' title='Play Video' class=inlineBlock src-data = "d")
						img(src='images/matt-ar.jpg' alt='video')
				.gbwm-vdo-info
					h3.vdo-title How does the Wealth Strategist work with the Integrated Team?
					span.vdo-duration(class=inlineBlock) 02:25
					p.vdo-content Wealth Strategists can assess clients and prospects’ financial picture and provide planning recommendations specific to their unique needs.
					a.view-demo.videoBox(href='FIXME' title='View Video' class=inlineBlock src-data = "d") View Video #[span.right-arrow]
			.row.inline-block
				.gbwm-vdo
					a.videoBox(href='FIXME' title='Play Video' class=inlineBlock src-data = "e")
						img(src='images/ginny-ar.jpg' alt='video')
				.gbwm-vdo-info
					h3.vdo-title When should I involve a Wealth Strategist?
					span.vdo-duration(class=inlineBlock) 02:41
					p.vdo-content Wealth Strategists can help integrated team members in a lot of ways, and bringing them in on client and prospect conversations early and often can be a new approach for uncovering opportunities.
					a.view-demo.videoBox(href='FIXME' title='View Video' class=inlineBlock src-data = "e") View Video #[span.right-arrow]
			.row.inline-block
				.gbwm-vdo
					a.videoBox(href='FIXME' title='Play Video' class=inlineBlock src-data = "f")
						img(src='images/sharon-ar.jpg' alt='video')
				.gbwm-vdo-info
					h3.vdo-title What is the “Core/Surplus” approach?
					span.vdo-duration(class=inlineBlock) 02:34
					p.vdo-content The core/surplus approach is an effective way for clients to prioritize their goals and think through their essential financial needs.
					a.view-demo.videoBox(href='FIXME' title='View Video' class=inlineBlock src-data = "f") View Video #[span.right-arrow]
			.row.inline-block.last-row
				.gbwm-vdo
					a.videoBox(href='FIXME' title='Play Video' class=inlineBlock src-data = "g")
						img(src='images/pepper-ar.jpg' alt='video')
				.gbwm-vdo-info
					h3.vdo-title Peak to Trough Analysis
					span.vdo-duration(class=inlineBlock) 02:18
					p.vdo-content The peak to trough framework provides an impactful way for a client to pre-experience fluctuations in the market and gauge how they will react to various drops in the market over time.
					a.view-demo.videoBox(href='FIXME' title='View Video' class=inlineBlock src-data = "g") View Video #[span.right-arrow]
			.overlay
			.contentBox
				span.close-button-home
				.video-container1.video-container
				.video-container2.video-container
				.video-container3.video-container
				.video-container4.video-container
				.video-container5.video-container
				.video-container6.video-container
				.video-container7.video-container
		//- More links section
		.row.inline-block.more-links.wrapper.clearfix
			span More
			.more-links-left
				ul
					li.clearfix
						a(href="index.html" title="GBWM Overview" class=inlineBlock)
							span GBWM Overview
							span.right-arrow

		include includes/learnmore.jade
