extends layouts/default


block content
	//- variables for different contents
	-var learnMoreVal = 'Additional Resources'
	-var pageName = 'Common Questions'
	-var commonQues = 'More information'

	- var linkTwo = 'additional-resources.html'

	- var linkThree = 'mailto:GBWM_Q&A@restricted.chase.com'

	- var secondLearnMore = 'Learn More'

	-var learnMore = 'Submit Your Question'

	-var mainQuestions = ['Working with Wealth Strategists','Implementing Goals-Based Wealth Management','Talking with Clients','','Planning Advice']
	-var firstQuestionGrp = {"Our organization feels strongly that taking a goals-based approach is how we can best help our clients.  The Wealth Strategist role was introduced relatively recently as one of the many new resources the firm has put in place to support this initiative. Although the Wealth Strategist role is new at J.P. Morgan, the individuals who were hired for this position have years of industry experience in helping clients achieve their personal financial goals. Our teams now also have support from a GBWM System and GBWM intellectual property.":"Why haven’t you mentioned the Wealth Strategist before?","A Wealth Strategist is a partner who focuses on helping drive new business and deepen existing relationships. The Wealth Strategists have extensive experience with developing strategies to help clients achieve their goals. They are also an extension of the Advice Lab, delivering its industry-leading solutions and thought leadership to the local markets.":"What is a Wealth Strategist?","Wealth Strategists and Wealth Advisors are complementary roles that uniquely position J.P. Morgan to help clients. Wealth Strategists are experts in financial planning and helping clients quantify what their financial future would look like. The Wealth Advisor can be brought in to provide the planning once assets have been identified that need to be structured for wealth transfer purposes.":"How should I think about Wealth Strategists and Wealth Advisors?","All client and prospective client meetings can benefit from the inclusion of a Wealth Strategist. Incorporating a Wealth Strategist early in client engagements sets the sales process on an efficient and effective path. Bring them to pipeline review meetings and plan pre-meeting strategy sessions to develop action plans.":"When does it make sense to involve a Wealth Strategist?","Wealth Strategists have the skills, training and experience to help clients achieve their goals and aspirations with quantitative financial analytics. They have a unique way of asking questions and probing clients for information that is non-threatening and encourages them to divulge more information and puts other team members on the same side of the table as the client.  Wealth Strategists can also be helpful during client reviews because they can speak to the importance of starting a goals-based plan, instead of focusing solely on investment performance.":"How can Wealth Strategists help ITMs in client meetings?","The Wealth Strategist role was recently introduced to help provide further financial analytics around how clients can achieve their goals. They provide and explain a customized analysis of a client's personal financial situation and help frame their aspirations in a core/surplus framework.":"How do I introduce the WS role to the client?","You should bring in your Wealth Strategist for every client and prospect opportunity that could benefit from a GBWM Analysis.  After 3-5 meetings with a Wealth Strategist, you will likely be prepared, but you can involve a Wealth Strategist with any client or prospect opportunity.  They are your planning resource for developing strategy, engaging the client in a goals-based discussion and analyzing advanced planning situations.":" How many meetings should I have with Wealth Strategists?"}
	-var secQuestionGrp = {"Goals-Based Wealth ManagementSM is an engagement model for first helping clients and prospects define and prioritize their core and aspirational goals, and then aligning their financial decisions to those objectives. It helps clients pre-experience what their wealth will do for them over time, and gives them comfort to make good financial decisions today.":"What is Goals-Based Wealth Management?","Approach a client with a sample of a Goals-Based plan to explain the concept. Then ask if they'd like a customized version of the plan for their personal situation.":"How do I get a client interested in GBWM?","While net worth and situations may differ, all clients and prospective clients can benefit from a GBWM analysis (e.g., there is a change in the client's circumstance - they're retiring, selling a business, moving to a different state, buying a new home, sending children to college, etc.).":"Which clients are best suited for GBWM?","Yes, client-facing resources can be found on the Tools and Resources page <link to page>":"Do you have a GBWM pitch book or slides for my pitch book?","Yes, there is a Client Discovery Worksheet <link to page> that can be helpful when preparing for client/prospective client meetings. A best practice is to not bring these to client meetings.":"Do we have an approved checklist/questionnaire of what we need for a GBWM conversation?","As your advisor, my priority has always been focused on how J.P. Morgan Private Bank can help you achieve your goals. The Goals-Based Wealth ManagementSM initiative is providing me with new resources that will further aid me in doing that for you.":"Why haven’t you mentioned GBWM before?","For GBWM, the benchmark is progress towards goals.  When the new GBWM System, with its embedded analytical approach, is used during client engagements the focus is placed on goals.":"How could I put investment performance into context of an overall goals-based wealth management strategy?","We have to adapt and position ourselves in front of where our industry is headed. Traditional models for managing clients will no longer be sufficient for maintaining strong relationships. Additionally, the onset of 'robo-advisors' onto the field is changing the frame of reference for how we should engage with clients. Clients are more likely to work with advisors that help address wealth management from a goal-focused approach. Goals-Based Wealth ManagementSM is the competitive advantage we need to stay ahead and at the top of our field.":"Why Change?","Clients are more likely to work with advisors that help address wealth management from a goal-focused approach. This is the competitive advantage we need to stay ahead.  Wealth Strategists have the training and experience to provide valuable planning insights to help clients achieve their goals; using the GBWM System to model potential scenarios and outcomes for clients. Goals-based conservations make relationships stickier, builds a greater level of trust with your clients and gives you more credence when speaking with prospects.":"How is this additive to my business?"}
	-var thirdQuestionGrp = {"Try to avoid using a checklist - learn the information and keep clients engaged.  For your reference, there is a Client Discovery Questionnaire <link to page> and Client Discovery Worksheet <link to page> that can be helpful to prepare for client/prospective client meetings.":"Do you have a checklist/factfinder I can use to gather information?","It's no secret that many of our main competitors claim they are using a goals-based approach with clients; the entire industry is moving in this direction. However, J.P. Morgan provides a unique offering that includes proprietary concepts such as the core/surplus approach for engaging clients in goals-based discussions, and peak-to-trough analysis to help clients pre-experience their own risk tolerance. All of these custom solutions are supported by a Wealth Strategist, a financial planning expert who has years of industry experience in helping clients achieve their personal financial goals, a GBWM System and GBWM intellectual property.":"What planning capabilities do competitors have?","Yes, there is a Client Discovery Questionnaire <link to page> that can be helpful when preparing for client/prospective client meetings.  A best practice is to not bring these to client meetings.":"Do we have a list of general questions that could aid in planning discussions?","Wealth Strategists have the skills, training and experience to help the integrated team marry their clients goals and aspirations with quantitative financial analytics. Specifically, J.P. Morgan has developed proprietary concepts, including the core/surplus approach for engaging clients in goals-based discussions, and peak-to-trough analysis to help clients comprehend their own risk tolerance. GBWM focuses on using experience and knowledge to put ITM's on the same side of the table as the client.":"I already do planning, what are you doing differently?"}
	-var fourthQuestionGrp = {"Focus on how the client’s high-level asset allocation appears to be correctly aligned to their goals, but there are different ways to implement.":"In the tool, if the client’s current situation looks better (i.e. returns and probabilities) than our recommended scenarios, what should we do?","The GBWM System uses the MAPS engine, but utilizes an enhanced user interface and output. The system is built to support a sales process that uses an analytical process to focus on goals. It also contains new features such as a peak-to-trough analysis as well as marketing features that make completing presentations a more efficient process. The output document created is also more client-friendly and intended as a valuable resource for future discussions. Additional enhancements to the GBWM System will continue to be rolled-out on an ongoing basis.":"Is this just MAPS?","The GBWM wealth projection system is accessible through desktop and tablets (including iPads).":"How is the wealth projection system going to be used – iPad and/or desktop?","The GBWM System was designed to be used in advance of or during a client meeting, and is not currently modeled to be driven by clients independently. Future iterations, however, will include a version that allows clients explore its capabilities, in the hopes that it will pique interest towards having a customized, more in-depth plan run by their advisor.  Future enhancements will also include advisor notifications if a client runs a plan and access to any client-run plans.":"Will clients have access to the wealth projection system?  If not, will they ever?","Goals-Based Wealth Management System.":"What is the proper name for the tool?","MAPS is the best solution at this moment, but contact your WS and GBWM analysts for these analytics.":"Do we have a simplified process to model complex scenarios (e.g., back-end earnouts)?","Yes. Additionally, the peak-to-trough conversation helps gauge a client's risk tolerance and allows them to pre-experience potential market declines through a peak-to-trough analysis.":"Does this model include black swan events?","Not currently at this time, but future iterations of the wealth projection system may include enhancements to include analysis with a longer time horizon.":"Can we create an analysis with a time horizon longer than 30 years?","We have conducted several tests of the tool, using real data to check the accuracy of results, and have confirmed that the information provided by the engine has been reliable.To read about our LTCMA projections relative to actual performance, please read the white paper at the following link:":"I know you’ve back-tested this tool, but I’ve never met a back-test that didn’t look good.  How do you really know this tool is as good as you say?","Yes. The Goals-Based Wealth System was designed to allow the integrated team to run custom 'peak-to-trough' analytics.":"Can we run custom “peak-to-trough” analytics?","An analyst can run custom peak-to-trough analytics as soon as they have been trained on the Goals-Based Wealth Management System.":"When will all analysts be able to run “peak-to-trough” analytics on their own?","The GBWM System uses the MAPS engine, but utilizes an enhanced user interface and output. The system is built to support a sales process that uses an analytical process to focus on goals.  It also contains new features such as a peak-to-trough analysis as well as marketing features that make completing presentations a more efficient process. The output document created is also more client-friendly and intended as a valuable resource for future discussions. Additional enhancements to the GBWM System will continue to be rolled-out on an ongoing basis.":"How is the JPM PB wealth projection system differentiated?"}
	-var fifthQuestionGrp = {"The core/surplus philosophy is a great way for a client to prioritize their goals, really think through what their essential needs are and then assign the assets that most appropriately meet each goal. Core comprises the assets that will cover the longevity and lifestyle needs of the client for the remainder of his/her lifetime, and any other goal that a client defines as essential or necessary. Aspirational goals are wishes that a client hopes to achieve with his/her surplus assets once their core goals are realized (e.g., purchasing a beach house, sending more money to future generations with tax-aware strategies, etc.).":"What is Core/Surplus approach?","":"What are the capital market assumptions?"," ":"How is inflation incorporated into the long-term asset class assumptions?","We do not have assumptions that match the horizon of the tactical asset allocations. We only have long-term assumptions (10-15 years) which will be inappropriate to use on tactical asset allocations.":"Why shouldn’t we model tactical asset allocations?","The need to use elevated inflation numbers for specific areas of spending can be seen in two sectors that directly impact many of our clients; medical and education costs. From 1984 to 2014 the College Board estimates that the total cost of a private 4-year college increased by 146% in 2014 dollars, thus representing a 3% annualized spread over inflation. Similarly, the U.S. Bureau of Labor Statistics estimates that medical costs increased at an annualized rate of 2.1% above CPI in the period from 1984 to 2014.  Please contact “GBWM Q&A” if you have any questions.":"Should you inflate certain expenses like higher education at a rate above what we use for inflation?","Peak-to-trough is a customized analysis that allows clients to pre-experience the probability of having a portfolio decline greater than or equal to 10%, 20% or 30%. This helps us work with clients to assess risk tolerance to ensure we are constructing the portfolio in a way that is prudent for their comfort level.":"What is a peak-to-trough"}


		include includes/page-title
		main.row.common-question
			//- main questions
			.wrapper.col-lg-12
				//- Question groups all question groups
				ul.question-group
					each value,ind in mainQuestions
						li.groups.clearfix
							span(title=value)= value
								if ind == 1
									span.up SM
								if ind == 3
									span(title='Using the Goals-Based Wealth Management System') Using the Goals-Based Wealth Management#[span.up SM] System
							span.view-more.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block(title="View All Question")
								span
								//- first Question Group
							if ind == 0
								ul.question-list
									each val, index in firstQuestionGrp
										li.subQuestions
											p.question
												span.style Q
												span.ques=  val
												span.showMore.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block(title="Open")
													img(src="images/cq.small-plus.png" alt="plus")
											div.answer
												span.style A
												p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block= index
								//- Second Question Group
							if ind == 1
								ul.question-list
									each val, index in secQuestionGrp
										li.subQuestions
											p.question
												span.style Q
												span.ques=  val
												span.showMore.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block(title="Open")
													img(src="images/cq.small-plus.png" alt="plus")
											div.answer
												span.style A
												p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block= index
									//- Third Question Group
							if ind == 2
								ul.question-list
									each val, index in thirdQuestionGrp
										li.subQuestions
											p.question
												span.style Q
												span.ques=  val
												span.showMore.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block(title="Open")
													img(src="images/cq.small-plus.png" alt="plus")
											div.answer
												span.style A
												p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block= index
									//- Fourth Question Group
							if ind == 3
								ul.question-list
									each val, index in fourthQuestionGrp
										li.subQuestions
											p.question
												span.style Q
												span.ques=  val
												span.showMore.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block(title="Open")
													img(src="images/cq.small-plus.png" alt="plus")
											div.answer
												span.style A
												p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block= index
												if val == "I know you’ve back-tested this tool, but I’ve never met a back-test that didn’t look good.  How do you really know this tool is as good as you say?"
													p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block
														a.pdfLinks(href='https://am.jpmorgan.com/gi/getdoc/1383271688187' title='LTCMA projections' target='_blank') https://am.jpmorgan.com/gi/getdoc/1383271688187
									//- Fifth Question Group
							if ind == 4
								ul.question-list
									each val, index in fifthQuestionGrp
										li.subQuestions
											p.question
												span.style Q
												span.ques=  val
												span.showMore.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block(title="Open")
													img(src="images/cq.small-plus.png" alt="plus")
											div.answer
												span.style A
												p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block= index
												if index == ""
													p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block
														a.pdfLinks(href='https://portal.jpmchase.net/sites/pbweb/USA/Prod_Solutions_USA/Investments_USA/Model_Portfolios/Documents/FAQ/CMAs.pdf' title='Click to learn more'  target='_blank') Click to learn more
												if index == " "
													p.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block
														a.pdfLinks(href='https://portal.jpmchase.net/sites/pbweb/USA/Prod_Solutions_USA/Investments_USA/Model_Portfolios/Documents/FAQ/Inflation.pdf' title='Click to learn more' target='_blank') Click to learn more

	include includes/learnmore
