extends layouts/default

block content
  //- page_nav variable will be used for listing the title for page navigation.
  - var page_nav = {'#':'How it Works', 'additional-resources.html':'Additional Resources', 'thought-lead.html':'Thought Leadership', 'common-questions.html':'Common Questions'};
  //- slider_img will be used to list the slider images.
  - var slider_img = {'What is Goals-Based Wealth Management': 'images/elaine.jpg','Using the GBWM Wealth Projection System': 'images/home.industry-leading-slider.jpg', 'What is a Wealth Strategist': 'images/erik.jpg', 'How does the Wealth Strategist work with the Integrated Team?': 'images/matt.jpg', 'When should I involve a Wealth Strategist?': 'images/ginny.jpg','What is the “Core/Surplus” approach?': 'images/sharon.jpg','Peak to Trough Analysis': 'images/pepper.jpg'};

  //- Main section of the section page starts here.
  main.row.main-section
    //- Below block will create a Jumbotron (Banner)
    div.banner
      div.wrap-center
        a(href="index.html").banner-logo
          img(src="images/logo-banner.jpmorgan.png" alt="J.P.Morgan")
        div.banner-text
          h1.banner-title Goals-Based Wealth Management#[span.sup SM]
          p.banner-slogan We put goals-based advice at the heart of what we do. This is at the core of our offering, and it defines us in the marketplace.

        div.page-nav.clearfix
          ul
            each val,index in page_nav
              li
                if index == '#'
                  a.how(href=index title=val)= val
                    span.right-arrow
                else
                  a(href=index title=val)= val
                    span.right-arrow

        a(href="#" title="scroll").scroll-to Scroll
          span.down-arrow

    //- Video slider will be created using flexslider
    div.flexslider.slidy#slider
      ul.slides
          li#first
            .iframe-wrapper-slide1.iframe-wrapper-slide
            span.image
          li
            .iframe-wrapper-slide2.iframe-wrapper-slide
            span.image
          li
            .iframe-wrapper-slide3.iframe-wrapper-slide
            span.image
          li
            .iframe-wrapper-slide4.iframe-wrapper-slide
            span.image
          li
            .iframe-wrapper-slide5.iframe-wrapper-slide
            span.image
          li
            .iframe-wrapper-slide6.iframe-wrapper-slide
            span.image
          li#last
            .iframe-wrapper-slide7.iframe-wrapper-slide
            span.image

    //- Video slider carousel will be created using flexslider
    div.carousyWrapper
      div.flexslider.carousy#carousel.wrapper
        ul.slides
          each val, index in slider_img
            if index == 'What is Goals-Based Wealth Management'
              li(class="flex-active-slide")
                .iframe-wrapper
                img(src=val alt=index)
                span.play-button= index
                  span.up SM
                  span  ?
                span.time 04:43
            else if index == 'What is a Wealth Strategist'
              li
                .iframe-wrapper
                img(src=val alt=index)
                span.play-button= index
                  span.up SM
                  span  ?
                span.time 02:04
            else if index == 'Using the GBWM Wealth Projection System'
              li
                .iframe-wrapper
                img(src=val alt=index)
                span.play-button= index
                span.time 01:54
            else if index == 'How does the Wealth Strategist work with the Integrated Team?'
              li
                .iframe-wrapper
                img(src=val alt=index)
                span.play-button= index
                span.time 02:25
            else if index == 'When should I involve a Wealth Strategist?'
              li
                .iframe-wrapper
                img(src=val alt=index)
                span.play-button= index
                span.time 02:41
            else if index == 'What is the “Core/Surplus” approach?'
              li
                .iframe-wrapper
                img(src=val alt=index)
                span.play-button= index
                span.time 02:34
            else if index == 'Peak to Trough Analysis'
              li
                .iframe-wrapper
                img(src=val alt=index)
                span.play-button= index
                span.time 02:18
    //- How it works, image-text and common questions block is wrapped under the wrapper.
    div.row.wrapper
      //- How it works section
      div.how-works#howWork
        h2 How it Works
        p The Goals-Based Wealth Management#[span.sup SM] approach cultivates trust and provides peace of mind that our clients and prospects are taking the best financial steps to achieve their goals.

      //- Detailed block section
      div.detailed-block
        .inline-block
          .text-block.one
            h3 A DETAILED STEP-BY-STEP PROCESS
            p Enabling you to further establish yourself not just as a manager of your client's portfolios and assets but also champions of their future well-being.
            a.lightboxHome(href="FIXME" title="See the GBWM Process") See the GBWM process
              span.open-modal
          .image-block.two
              img.lightboxHome(src="images/home.process-graphic.jpg" alt="Process Graphic")
        .inline-block
          .image-block.one
              img(src="images/home.industry-leading.jpg" class="openLightBox" data-lb="1" alt="Industry-leading Digital System")
          .text-block.two
            h3 A NEW INDUSTRY-LEADING DIGITAL SYSTEM
            p Designed to guide an interactive dialogue with your clients – walking them, step-by-step, through multiple scenarios, probabilities, and risks.
            a(href="#" class="openLightBox" title="View The GBWM System " target="_blank" data-lb="1") View the GBWM System
              span.right-brown-arrow
        .inline-block
          .text-block.one
            h3 INTRODUCING WEALTH STRATEGISTS
            p Here to support you and your client as a dedicated resource. This team structure will ensure you have all the support you need to fully leverage the firm’s resources to help achieve results.
            a(href="#" class="openLightBox" title="Learn More" data-lb="2") Learn More
              span.right-brown-arrow
          .image-block.two
              img(src="images/when-to-involve.png" alt="Dummy Image" class="openLightBox" data-lb="2")
        .inline-block
          .image-block.one
              img(src="images/comprehensive-training.jpg" alt="Dummy Image")
          .text-block.two
            h3 A COMPREHENSIVE TRAINING PROGRAM
            p Each of you will have the opportunity to attend a training designed to support you in using the GBWM Wealth Projection System to help you in leading these goals-based conversations.
            a.comming-soon(title="Training Schedule Coming Soon") Training Schedule Coming Soon
      .overlay
      .contentBox
        span.close-button-home
        div.light-box-content
          .light-box-wrapper
            h3 Five Key Steps
            img(src="images/home.process-graphic.jpg" alt="Process Graphic")
            p A highly effective process underlies Goals-Based Wealth Management#[span.sup SM]. It consists of five essential steps that are carried through from initial conversations to wealth projections to client reports.
            ol.key-steps
              li #[span.heading 1. Determine Goals & Financial Position –] Help your clients articulate the goals they want to achieve. Understand the full landscape of assets available, including potential limitations, and assure them of your approach by focusing on their unique needs rather than solely on investment criteria.
              li #[span.heading 2. Project Future Wealth —] Examining clients’ current assets and projecting their wealth into the future helps them visualize potential issues in their long-term plans and understand the possible benefits of modifications to their existing course often through the evolution of multiple wealth projection scenarios.
              li #[span.heading 3. Define Core Portfolio –] Help your clients prioritize their primary needs and allocate appropriate assets to their core portfolio by developing targeted recommendations and providing a simple, clear direction forward.
              li #[span.heading 4. Identify & Deploy Surplus Assets –] Looking past their core portfolio, consider your clients’ aspirational goals to find the best way to allocate available assets to them, while incorporating their feedback along the way.
              li #[span.heading 5. Review the Plan & Adjust Periodically –] Measure and continually review performance metrics to ensure your plans will meet their lifelong goals and adjust their investment strategies as necessary.

      .overlay2
      .videoContent
        span.close-button-home
        .video-container8.video-container
        .video-container9.video-container

      //- Common questions section
      div.questions
        h3.common-questions Common Questions
        ul.list-questions
          li
            a(href="common-questions.html" title="View All") #[span.bold-brown Q] How is GBWM different than what I’m already doing?
          li
            a(href="common-questions.html" title="View All") #[span.bold-brown Q] How is this additive to my business?
          li
            a(href="common-questions.html" title="View All") #[span.bold-brown Q] How is Wealth Strategist different than a Wealth Advisor?
        a(href="common-questions.html" title="View All").view-questions View All
          span.right-big-arrow

