extends layouts/default

block content

	//- to assign an element display inline-block property.
	- var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'

	//- learnMoreVal will add dynamic Learn more value to learnmore.jade
	- var learnMoreVal = 'Tools & Training'

	//- pageName will add dynamic page title in the page-title.jade.
	- var pageName = 'Thought Leadership'

	//- learnMore will add dynamic Learn more value to learnmore.jade.
	- var learnMore = 'Learn More'

	- var secondLearnMore = 'Learn More'

	- var commonQues = 'Common Questions'

	- var linkTwo = '#'

	- var linkThree = 'common-questions.html'

	//- used to include page title
	include includes/page-title

	main.row.thought-security
		.main-features
			.wrapper.clearfix
				.back-to-thoughtlead(class=inlineBlock)
					a(href='thought-lead.html' title='Back') Back
				.main-sub-feature(class=inlineBlock)
					ul
						each val, index in { 'FIXME1':'A', 'FIXME2':'Download' }
							if index == 'FIXME1'
								li(class=inlineBlock)
									a#fontSize(href=index title='Font Resize' class=inlineBlock)
										span= val
										span= val
									ul(class='fontHover')
										li
											a.increaseFont(hre='FIXME' title='Zoom in' class=inlineBlock)
												img(src='images/cq.small-plus.png' alt='Zoom in')
										li
											a.decreaseFont(hre='FIXME' title='Zoom out')
												img(src='images/cq.small-minus.png' alt='Zoom out')
							if index == 'FIXME2'
								li(class=inlineBlock)
									a(href='images/IRA-Rollover-Options.pdf' title=val class=inlineBlock download="IRA-Rollover-Options.pdf" target='_blank')
										img(src='images/'+val+'.png' alt=val)
		//- main-content
		.main-content#secMain.main-min-ht
			.wrapper
				//- content-heading starts here
				.content-heading
					h3.securityHeading IRA Rollover Options

				//- main-info starts here
				.main-info
					p.heading-resize.text-resize A quick guide to help you identify the option that may make the most sense for your needs
					p.text-resize After reviewing <span class='italic'>Retiring or changing jobs?</span>, take a few minutes to evaluate the options that are most important to you. The information below will help guide you toward the option that makes the most sense for your individual situation.

		.overlay
		.imageBox
			span.close-button
			img(src="" alt="")
	include includes/learnmore
