extends layouts/default

block content

	//- to assign an element display inline-block property.
	- var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'

	//- learnMoreVal will add dynamic Learn more value to learnmore.jade
	- var learnMoreVal = 'Tools & Training'

	//- pageName will add dynamic page title in the page-title.jade.
	- var pageName = 'Thought Leadership'

	//- learnMore will add dynamic Learn more value to learnmore.jade.
	- var learnMore = 'Learn More'

	- var secondLearnMore = 'Learn More'

	- var commonQues = 'Common Questions'

	- var linkTwo = '#'

	- var linkThree = 'common-questions.html'

	//- used to include page title
	include includes/page-title

	main.row.thought-security
		.main-features
			.wrapper.clearfix
				.back-to-thoughtlead(class=inlineBlock)
					a(href='thought-lead.html' title='Back') Back
				.main-sub-feature(class=inlineBlock)
					ul
						each val, index in { 'FIXME1':'A', 'FIXME2':'Download' }
							if index == 'FIXME1'
								li(class=inlineBlock)
									a#fontSize(href=index title='Font Resize' class=inlineBlock)
										span= val
										span= val
									ul(class='fontHover')
										li
											a.increaseFont(hre='FIXME' title='Zoom in' class=inlineBlock)
												img(src='images/cq.small-plus.png' alt='Zoom in')
										li
											a.decreaseFont(hre='FIXME' title='Zoom out')
												img(src='images/cq.small-minus.png' alt='Zoom out')
							if index == 'FIXME2'
								li(class=inlineBlock)
									a(href='images/GBWM_Medicare.pdf' title=val class=inlineBlock download='GBWM_Medicare.pdf' target='_blank')
										img(src='images/'+val+'.png' alt=val)
		//- main-content
		.main-content#secMain
			.wrapper
				//- content-heading starts here
				.content-heading
					h3.securityHeading What about Medicare?

				//- main-info starts here
				.main-info
					p.text-resize It may be far more expensive than you may think. Plan for it as soon as you can—so you don’t get caught short later.
					p.text-resize.medicare-second-para Medicare coverage is not free. In fact, it can be surprisingly expensive. Costs are particularly steep for “high earners”(i.e., individuals whose incomes are high immediately before and/or during retirement). The price tag for high earners is also set to rise.
				//- main-importance starts here
				.main-importance
					h5.heading-resize How expensive can Medicare be?
					p.text-resize Determining how much you may have to pay is not a simple task. Medicare is among the most complicated of governmental programs.
					p.text-resize But we can provide you with glimpses of your potential future.
					p.text-resize For example, our analysis shows that in 2016, the cost to “high earners” is about $500 a month (nearly $6,000 a year) for Medicare to subsidize their prescription drugs as well as their healthcare providers, outpatient care and possibly some home healthcare. It is important to note that these figures are just for premiums; they do not include the additional costs of co-pays, deductibles and supplemental insurance.
					p.text-resize As expensive as Medicare premiums in 2015 may be, they are likely to go higher. Over the next decade, the Medicare trustees project increases as healthcare costs rise. There is also political pressure to raise premiums for high earners, as a way to address anticipated Medicare funding shortfalls.
					p.text-resize The government does not require you to enroll in Medicare—but you are likely to sign up. Virtually all insurance plans for Americans over the age of 65 require Medicare enrollment. In other words, your choices are: Avoid Medicare by paying out of pocket for all your medical expenses in your later years or deal with the Medicare conundrum. But it may be unwise, even for the wealthiest among us, to pay for all medical expenses out of pocket, as healthcare costs in the United States haveoutpaced inflation and are expected to continue doing so.<span class="up">1</span>
					p.text-resize Likely the best response to the high cost of Medicare is to plan ahead—and properly. By that, we mean: assess and anticipate potential costs. Adjust current spending and saving to accommodate the expected future expense. Select the Medicare option that may work best for your needs. Choose options that will help cover your potential medical costs. (See “Costs,” page 3.)
					p.text-resize We can help you and your other professional advisors with the whole-life planning and financial modeling that will be needed to accomplish these tasks.
					p.text-resize As a good start, we offer this snapshot of Medicare, its options and its costs.

				//- main-perspective starts here
				.main-perspective
					h5.heading-resize Medicare’s “parts” and your options
					p.text-resize Once you reach age 65, you must make decisions about the type of Medicare coverage you will receive. Careful consideration should be given to your initial decisions, as some may be irrevocable or costly to change later. We start with the basics so that your choices and the potential consequences are clearer.
					p.text-resize Medicare’s basic architecture consists of:
					ul
						li.federal-rules <span>•</span> Four parts (A, B, C and D)
						li.federal-rules <span>•</span> Two ways to fill in any coverage gaps left by the parts (Medigap and private insurance)
					p.text-resize There are five essential ways to combine the parts:
					ul.medicare-ways
						li.federal-rules
							h6.heading-resize.internal-heading 1. Part A only
							p.text-resize Part A covers hospital care, skilled nursing facility care, hospice care and home health care.
							p.text-resize At age 65, all U.S. citizens who receive Social Security are automatically enrolled in Part A. And it is free for them, as long as they paid sufficient Medicare taxes during their working lives.?
							p.text-resize You can enroll free of charge even if you are not yet receiving your Social Security benefits. However, you must have contributed enough through federal taxes to the Medicare system.
							p.text-resize If you and your spouse did not pay enough Medicare taxes during your working lives, premiums for Part A cost $411 a month in 2016. This cost is adjusted annually by the Medicare Administration, which bases the increase on U.S. healthcare costs.
						li.federal-rules
							h6.heading-resize.internal-heading 2. Parts A and B
							p.text-resize Part B provides coverage for doctors and other health care providers, outpatient care and possibly some home health care.
							p.text-resize Although a premium is required to receive Part B, enrollment is automatic once you are enrolled in Medicare Part A.
							p.text-resize Part B’s premiums are slated to increase for all enrollees and could be pushed still higher for high earners.
							p.text-resize If you and your spouse did not pay enough Medicare taxes during your working lives, premiums for Part A cost $411 a month in 2016. This cost is adjusted annually by the Medicare Administration, which bases the increase on U.S. healthcare costs.
							p.text-resize You can choose to opt out of Part B. But if you want to enroll in Part B at a later date, the delay will increase your premiums—unless you receive an exemption from the Medicare administration.<span class="up">2</span>
							p.text-resize For information on how to enroll in, opt out of, or receive an exemption from Part B coverage, visit the Medicare Administration’s website www.medicare.gov.
						li.federal-rules
							h6.heading-resize.internal-heading 3. Parts A, B and D
							p.text-resize Part D subsidizes prescription drugs—for an additional premium. It is necessary to proactively enroll in Part D. Delaying enrollment past age 65 will increase these premiums, unless you receive an exemption.
						li.federal-rules
							h6.heading-resize.internal-heading 4. Part C
							p.text-resize Choosing Part C is asking a private company to handle your Medicare Parts A, B and D.
							p.text-resize These private plans, called “Medicare Advantage programs,” vary. Some may even fill coverage gaps left by Parts A, B and D.
							p.text-resize Generally speaking, Advantage programs combine hospital and physician coverage. Some include a prescription drug plan.
							p.text-resize Your choices among Medicare Advantage plans are determined by the geographical location of your primary residence at the time that you enroll in Medicare. The Medicare administration provides assistance for finding an Advantage plan in your region.<span class="up">3</span>
							p.text-resize Most seniors are able to choose from a wide range of plans. The Kaiser Foundation estimates that there were 1,945 total Medicare Advantage plans in 2015, and that, on average, beneficiaries could choose from 18 different plans.<span class="up">4</span>
							p.text-resize Kaiser also estimates that 31% of all Medicare beneficiaries were enrolled in Advantage plans in 2015.
							p.text-resize However, be careful: If you live in more than one state, Plan C may not suit your needs, as Advantage plans offer doctors within a defined geographical area.
						h6.heading-resize.internal-heading Boosters
						p.text-resize To fill any of the coverage gaps left by Medicare’s different parts, you can choose either a Medigap insurance plan or your former company’s retiree insurance:
						ul
							li.federal-rules <span>•</span> Medigap insurance plans<span class="up">5</span>
								ul
									li.federal-rules o Cover costs not covered by Parts A or B (such as copayments, coinsurance and deductibles)
									li.federal-rules o Require a premium
									li.federal-rules o Increase premiums as you age
									li.federal-rules o Regionally based
									li.federal-rules o Offered by private insurers
									li.federal-rules o Require beneficiaries to actively enroll
							li.federal-rules <span>•</span> Retiree insurance
								ul
									li.federal-rules o Provided by a former employer as part of an individual’s retirement benefits

				.main-medicare-nos
					h5.heading-resize The numbers
					p.text-resize Determining what type of coverage will work best for you will require assessing what, exactly, the plans available to you cover and how much they cost.
					p.text-resize All Medicare options beyond Part A typically involve a premium.
					p.text-resize Parts B and D have monthly premiums that increase based on your income two years before coverage.<span class="up">6</span>
					p.text-resize What does this mean for high-income individuals? In 2016, their monthly Part B premium is $389.50.
					p.text-resize If they add Part D to subsidize the costs of prescriptions, they pay approximately $107.00 more a month. That is a total of $496.80 a month or $5,961.00 annually.
					p.text-resize Put another way, the cost of Medicare Parts B and D in 2016 for a high-income person is a little more than 18% of the annual $32,000 maximum a person can receive in pre-tax Social Security benefits.
					p.text-resize And that is just one person. Add a spouse or partner, and the premiums double.(See “Costs,” below.)
					p.text-resize This cost is expected to rise, although it is unclear how high Part B and Part D premiums may go. The Medicare trustees	adjust them annually, based on U.S. medical costs.
					p.text-resize By 2024, Medicare projects a high-income person’s monthly	Part B premium will be $556.50. The same individual’s Part D premium is projected to be $201.26.
					p.text-resize In other words, the Medicare trustees expect that the monthly	premium for one beneficiary will total $757.76 a month or	$9,093.12 a year in 2024.<span class="up">7</span>
					p.text-resize These numbers include recent increases implemented by The Protecting Access to Medicare Act of 2014.
					p.text-resize While that law did not increase premiums for the highest-income individuals and married couples, it did push premiums	up by roughly $1,000 for single enrollees with modified	adjusted gross incomes (MAGIs) starting at $133,000 to $214,000 and for married joint filers with MAGIs starting at	$266,000 to $418,000.
					p.text-resize Costs could go even higher. There is political pressure to increase these premiums for all categories of high-income individuals. And general Medicare funding shortfalls could push premiums higher still.

				.main-medicare-search
					h5.heading-resize In search of full coverage...
					p.text-resize Even with all three parts of Medicare in place, you are likely to face additional medical expenses, as there are deductibles and co-pays for Medicare parts A, B and D.
					p.text-resize Some of this shortfall might be covered by Medigap insurance or a Part C plan.
					p.text-resize This extra coverage is likely to require higher premiums. And	even then all your medical expenses may not be covered.
					p.text-resize You may be able to ease some of this burden and fill in more gaps with insurance from other sources, such employers or a former employer’s retirement plan.<span calss="up">8</span>
					p.text-resize However, private plans require coordination with Medicare to determine which “payer” (i.e. either Medicare or your private plan) will be responsible for a bill first.
					p.text-resize If you continue either to work or to be covered by a former	employer as part of a retirement package, it is critical—once	you reach 65 years old—to speak with both your private plan providers and Medicare officials to see how you should be handling your medical expenses.

				.main-medicare-plan
					h5.heading-resize Action Plan
					p.text-resize As complicated as it may seem to organize your healthcare coverage starting at age 65, your first steps are relatively simple:
					ol.internal-ol
						li.federal-rules Look at your medical bills, consider your potential health care needs, and estimate how much coverage might be appropriate for you at age 65 and the following few years.
						li.federal-rules Discuss your coverage options with qualified insurance agents.
						li.federal-rules Speak with your financial advisors about how you anticipate funding all your goals for your later years, including health care coverage.
					p.text-resize Your J.P. Morgan representative is available to help you and your advisors with your goals-based wealth planning.

		.overlay
		.imageBox
			span.close-button
			img(src="" alt="")
	include includes/learnmore

