extends layouts/default

block content

	//- to assign an element display inline-block property.
	- var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'

	//- learnMoreVal will add dynamic Learn more value to learnmore.jade
	- var learnMoreVal = 'Tools & Training'

	//- pageName will add dynamic page title in the page-title.jade.
	- var pageName = 'Thought Leadership'

	//- learnMore will add dynamic Learn more value to learnmore.jade.
	- var learnMore = 'Learn More'

	- var secondLearnMore = 'Learn More'

	- var commonQues = 'Common Questions'

	- var linkTwo = '#'

	- var linkThree = 'common-questions.html'

	//- used to include page title
	include includes/page-title

	main.row.thought-security
		.main-features
			.wrapper.clearfix
				.back-to-thoughtlead(class=inlineBlock)
					a(href='thought-lead.html' title='Back') Back
				.main-sub-feature(class=inlineBlock)
					ul
						each val, index in { 'FIXME1':'A', 'FIXME2':'Download' }
							if index == 'FIXME1'
								li(class=inlineBlock)
									a#fontSize(href=index title='Font Resize' class=inlineBlock)
										span= val
										span= val
									ul(class='fontHover')
										li
											a.increaseFont(hre='FIXME' title='Zoom in' class=inlineBlock)
												img(src='images/cq.small-plus.png' alt='Zoom in')
										li
											a.decreaseFont(hre='FIXME' title='Zoom out')
												img(src='images/cq.small-minus.png' alt='Zoom out' class=inlineBlock)
							if index == 'FIXME2'
								li(class=inlineBlock)
									a(href='images/ModernPortfolioSelection_Newbrand_v9_Option2Back Spread.pdf' title=val class=inlineBlock target='_blank' download='modernPortfolioSelection_Newbrand_v9_Option2Back Spread.pdf')
										img(src='images/'+val+'.png' alt=val)
		//- main-content
		.main-content.main-min-ht#secMain
			.wrapper
				//- content-heading starts here
				.content-heading
					h3.securityHeading Modern Portfolio Selection

				//- main-info starts here
				.main-info.morder-portfolio-soon
					p.heading-resize.text-resize Coming Soon

	include includes/learnmore

