extends layouts/default

block content

	//- to assign an element display inline-block property.
	- var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'

	//- learnMoreVal will add dynamic Learn more value to learnmore.jade
	- var learnMoreVal = 'Tools & Training'

	//- pageName will add dynamic page title in the page-title.jade
	- var pageName = 'Thought Leadership'

	//- learnMore will add dynamic Learn more value to learnmore.jade
	- var learnMore = 'Learn More'

	- var secondLearnMore = 'Learn More'

	- var commonQues = 'Common Questions'

	- var linkTwo = '#'

	- var linkThree = 'common-questions.html'

	//- used to include page title
	include includes/page-title

	main.row.thought-security
		.main-features
			.wrapper.clearfix
				.back-to-thoughtlead(class=inlineBlock)
					a(href='thought-lead.html' title='Back') Back
				.main-sub-feature(class=inlineBlock)
					ul
						each val, index in { 'FIXME1':'A', 'FIXME2':'Download' }
							if index == 'FIXME1'
								li(class=inlineBlock)
									a#fontSize(href=index title='Font Resize' class=inlineBlock)
										span= val
										span= val
									ul(class='fontHover')
										li
											a.increaseFont(hre='FIXME' title='Zoom in' class=inlineBlock)
												img(src='images/cq.small-plus.png' alt='Zoom in')
										li
											a.decreaseFont(hre='FIXME' title='Zoom out')
												img(src='images/cq.small-minus.png' alt='Zoom out' class=inlineBlock)
							if index == 'FIXME2'
								li(class=inlineBlock)
									a(href='images/retiring-or-changing-jobs.pdf' title=val class=inlineBlock download='retiring-or-changing-jobs.pdf' target='_blank')
										img(src='images/'+val+'.png' alt=val)
		//- main-content
		.main-content#secMain
			.wrapper
				//- content-heading starts here
				.content-heading
					h3.securityHeading Retiring or changing jobs?

				//- main-info starts here
				.main-info
					p.text-resize One of the most important decisions for your financial well-being could be what you do with the assets in your employer-sponsored retirement account.
					p.text-resize When you retire or change jobs, you may be able to make some important choices regarding the assets in your 401(k), 403(b) or other employer-sponsored retirement plan when you retire or change jobs. You may be able to:
					ul.external-list
						li.federal-rules <span>•</span> Withdraw funds from your account by taking a lump sum distribution.
						li.federal-rules <span>•</span> Keep the funds in a tax-deferred account—by staying in your former employer’s plan, rolling the funds over to your new employer’s plan or rolling the funds into an IRA.<span class="up">1</span>

					p.text-resize It is important to understand these options so that you can make the decision that best suits your needs.
				.main-funds
					h5.heading-resize Should you withdraw your funds?

					p.text-resize Taking a lump sum distribution from your employer’s plan may not be your best option (unless you have immediate need of the funds). Disincentives for withdrawing all the assets all at once include:
					ul.external-list
						li.federal-rules <span>•</span> You will owe taxes on the distribution for the year in which you receive it.
						li.federal-rules <span>•</span> If you are younger than 59<span class="up">1/2</span> years, a penalty may apply 10% on the amount withdrawn.
						li.federal-rules <span>•</span> This distribution will also be subject to 20% mandatory federal income tax withholding.
						li.federal-rules <span>•</span> The assets will no longer be able to grow on a tax-deferred basis.
					p.text-resize Even so, there may be a financial incentive to choosing a lump sum distribution: You might then be able to pursue a net unreralized appreciation (NUA) tax treatment for any accumulated company stock that you may have in your employer retirement fund.
					p.text-resize NUA tax treatment would allow you to pay ordinary income tax on the cost basis of any accumulated stock at ordinary income tax rates. Any stock value in excess of the basis at the time of distribution is immediately eligible for long-term capital gain treatment, and future appreciation is taxed at the appropriate capital gains rate. That rate is determined by the holding period after the distribution.
					p.text-resize Because long-term capital gain rates are generally lower than ordinary income tax rates, this strategy can produce some tax benifits.
					p.text-resize If you have concentrations of company stock in an employer retirement plan, speak with your tax advisor about NUA tax treatment.
					//- main-importance starts here
				.main-tax-account
					h5.heading-resize Should you keep the funds in a tax-deferred account?
					p.text-resize There are three ways to keep assets in a retirement account:
					ul.external-list
						li.federal-rules (1) Stay with your former employer’s plan;
						li.federal-rules (2) Roll the funds into your new employer’s plan; or
						li.federal-rules (3) Roll the funds into an IRA.

					p.text-resize When making your choice, we recommend you take these six factors into account:

					ul.six-factors
						li
							//- 1. Investment choices
							h6.heading-resize.retiring-job-heading 1. Investment choices
							p.text-resize.key-questions KEY QUESTIONS:
							ul
								li.federal-rules <span>•</span> Are you satisfied with the investment options available in your current or future employer’s plan?
								li.federal-rules <span>•</span> Would an IRA offer additional investment options that are important to you?
							p.text-resize.considerations CONSIDERATIONS:
							p.text-resize Depending on where the investment choices offered better meet your needs, you may want to keep your assets in your former employer’s plan or roll the funds to your new employer’s plan. Some plans also offer access to managed accounts or self-directed brokerage accounts that provide the opportunity for broader diversification.
							p.text-resize A self-directed IRA may be the better choice—if having access to a wider range of investments (including individual stocks and bonds, mutual funds and managed accounts) is important to you, and if those investments are not available in your current or future employer’s plan.

						li
							//- 2. Additional financial services
							h6.heading-resize.retiring-job-heading 2. Additional financial services
							p.text-resize.key-questions KEY QUESTIONS:
							ul
								li.federal-rules <span>•</span> What financial services are available in your employer’s plan, and how satisfied are you with them?
								li.federal-rules <span>•</span> Is the convenience of having all your retirement savings at one financial institution important to you?
								li.federal-rules <span>•</span> Do you want a financial advisor who can provide advice about your retirement investments?
							p.text-resize.considerations CONSIDERATIONS:
							p.text-resize Some employer plans offer access to varying levels of investment advice, planning tools, telephone help lines, educational materials and workshops.
							p.text-resize IRA providers also offer additional financial services that may include full brokerage services, investment advice from a financial advisor, distribution planning, goals-based wealth management planning and online securities execution.

						li
							//- 3. Loans and withdrawals
							h6.heading-resize.retiring-job-heading 3. Loans and withdrawals
							p.text-resize.key-questions KEY QUESTIONS:
							ul
								li.federal-rules <span>•</span> Is it important for you to be able to borrow from your retirement assets?
								li.federal-rules <span>•</span> Did you stop being employed (or do you except to stop being employed) between ages 55 and 59<span class="up">1/2
								li.federal-rules <span>•</span> When do you plan to begin taking withdrawals, and how much do you plan to take?
								li.federal-rules <span>•</span> Do you want the ability to access your retirement assets if an unexpected need arises?
							p.text-resize.considerations CONSIDERATIONS REGARDING LOANS:
							p.text-resize Many employer-sponsored retirement plans allow participants to take loans against their vested account balances at modest interest rates. In contrast, you cannot take loans from an IRA.
							p.text-resize Even if the loan option is available in your new employer’s plan—before you execute the rollover—be sure to ask if your future contributions will be restricted if you take a loan.
							p.text-resize Also keep in mind: When you leave an employer, all outstanding balances on loans taken against your retirement account with that employer will be trated as a taxable distribution and could be subject to the 10% penalty tax.
							p.text-resize.considerations CONSIDERATIONS REGARDING WITHDRAWALS:
							p.text-resize If you may need to withdraw funds directly from your employer plan or IRA, it is important to know the different implications of those withdrawals. (See “The Potential Power of Additional Contributions,” page 3.)
							p.text-resize When you turn age 70<span class="up">1/2</span> you must begin taking annual Required Minimum Distributions (RMDs) from both your employer’s plans and any IRAs you may have.
							p.text-resize The amounts you will be required to withdraw from an account by the end of the year is generally determined by dividing the market value of the account on December 31 of the year preceding the distribution by a life expectancy factor provided by the IRS.
							p.text-resize There are some important expectations to the RMD rule:
							ul
								li.federal-rules <span>•</span> If you are working and participating in the retirement plan offered by your employer, you do not have to take any RMD from that plan until the year you retire (unless you are a 5% owner of the business).
								li.federal-rules <span>•</span> Roth IRA owners are not required to take RMDs (but after the original IRA owner dies, beneficiaries who inherit the IRA must begin taking RMDs).

						li
							//- 4. Fees and expenses
							h6.heading-resize.retiring-job-heading 4. Fees and expenses
							p.text-resize.key-questions KEY QUESTIONS:
							ul
								li.federal-rules <span>•</span> How do the fees and expenses associated with your current or future future employer’s plan compare with IRA fees and expenses?
								li.federal-rules <span>•</span> Are you getting good value of the services that matter to you?
							p.text-resize.considerations CONSIDERATIONS:
							p.text-resize Fees and expenses can erode the value of your retirement savings. It is therefore important to carefully review and compare the fees and expenses associated with all your options.
							p.text-resize Employer plans typically include administrative fees (e.g., recordkeeping, compliance, trustee fees) and fees for such services as access to a customer service representative.
							p.text-resize In some cases, employers pay some or all of the plan’s administrative fees; sometimes plan have fees and expenses that are lower than those available elsewhere. Some plans also offer no-load mutual funds and institutional share classes that have lower investment-related expenses.
							p.text-resize IRA providers may charge annual account fees or other fees for maintaining your IRA; also the investments offered may include a sales charge at purchase, and may have higher internal expenses.


						li
							//- 5. Protection from creditors and legal judgments
							h6.heading-resize.retiring-job-heading 5. Protection from creditors and legal judgments
							p.text-resize.key-questions KEY QUESTIONS:
							ul
								li.federal-rules <span>•</span> Will you need to project your retirement assets from creditors or legal judgments?
							p.text-resize.considerations CONSIDERATIONS:
							p.text-resize Generally, assets held in your employer’s plan have unlimited protection from creditors.
							p.text-resize In contrast, IRAs are protected only in bankruptcy proceedings. State laws vary regarding how protected IRA assets will be from judgments against IRA owners. Be sure that you consult with an attorney for more information on protecting your retirement assets from creditors or legal judgments.

						li
							//- 6. Taxes
							h6.heading-resize.retiring-job-heading 6. Taxes
							p.text-resize.key-questions KEY QUESTIONS:
							ul
								li.federal-rules <span>•</span> Do you have your highly appropriated employer stock in your employer’s plan?
							p.text-resize.considerations CONSIDERATIONS:
							p.text-resize Whether you keep your retirement assets in an employer’s plan or roll them over to an IRA, they will continue to grow on a tax-deferred basis until they are withdrawn. Any after-tax contributions that you might have made to your employer’s plan may be eligible for roll over to a Roth IRA. (See the IRS Notice entitled "Guidence on Allocation of After-Tax Amounts to Rollovers” at www.irs.gov.) You may want to discuss the nuance of this strategy with your tax or legal advisor.
							//- <a href='https://www.irs.gov/' title='IRS Gov' target='_blank'>www.irs.gov</a>



		.overlay
		.imageBox
			span.close-button
			img(src="" alt="")
	include includes/learnmore

