extends layouts/default

block content

	//- to assign an element display inline-block property.
	- var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'

	//- learnMoreVal will add dynamic Learn more value to learnmore.jade
	- var learnMoreVal = 'Tools & Training'

	//- pageName will add dynamic page title in the page-title.jade.
	- var pageName = 'Thought Leadership'

	//- learnMore will add dynamic Learn more value to learnmore.jade.
	- var learnMore = 'Learn More'

	- var secondLearnMore = 'Learn More'

	- var commonQues = 'Common Questions'

	- var linkTwo = '#'

	- var linkThree = 'common-questions.html'

	//- used to include page title
	include includes/page-title

	main.row.thought-security
		.main-features
			.wrapper.clearfix
				.back-to-thoughtlead(class=inlineBlock)
					a(href='thought-lead.html' title='Back') Back
				.main-sub-feature(class=inlineBlock)
					ul
						each val, index in { 'FIXME1':'A', 'FIXME2':'Download' }
							if index == 'FIXME1'
								li(class=inlineBlock)
									a#fontSize(href=index title='Font Resize' class=inlineBlock)
										span= val
										span= val
									ul(class='fontHover')
										li
											a.increaseFont(hre='FIXME' title='Zoom in' class=inlineBlock)
												img(src='images/cq.small-plus.png' alt='Zoom in')
										li
											a.decreaseFont(hre='FIXME' title='Zoom out')
												img(src='images/cq.small-minus.png' alt='Zoom out' class=inlineBlock)
							if index == 'FIXME2'
								li(class=inlineBlock)
									a(href='images/Should-you-put-more-into-your-tax-deferred-retirement-accounts.pdf' title=val class=inlineBlock download='Should-you-put-more-into-your-tax-deferred-retirement-accounts.pdf' target='_blank')
										img(src='images/'+val+'.png' alt=val)
		//- main-content
		.main-content#secMain
			.wrapper
				//- content-heading starts here
				.content-heading
					h3.securityHeading Should you put more into your tax-deferred retirement accounts?

				//- main-info starts here
				.main-info
					p.text-resize Starting at age 50, you have the opportunity to boost the value of the assets in your retirement accounts. However, before you decide how much to put in a 401(k) or IRA, it is advisable to understand your options and how different choices might fit into your overall retirement plans.
					h5.heading-resize Option to “catch up”
					p.text-resize The law caps deductible contributions to tax-deferred retirement accounts such as 401(k)s and IRAs (whether traditional or Roth). Generally speaking, the maximum an individual is permitted to contribute in 2015 to a 401(k) is $18,000; to any IRA, it is $5,500.<span class="up">1</span>
					p.text-resize These top amounts are higher for taxpayers who are aged 50 and older: Every year, they can contribute an additional $6,000 (for a total of $24,000) to their 401(k)s, and an additional $1,000 (total $6,500) to their IRAs reduced by active plan participation and compensation ceilings.
					p.text-resize These so-called “catch-up” contributions aim to ensure that taxpayers can accelerate their tax-deferred savings as they approach retirement (see below).
				//- main-importance starts here
				.main-importance
					h5.heading-resize A decision in context
					p.text-resize The question is: “Should you put catch-up contributions into your retirement accounts?”
					p.text-resize In our experience, the best answer takes into account an individual’s particular life circumstances and goals.
					p.text-resize Conventional wisdom dictates that you defer as much money as possible, because doing so reduces your current tax bill and allows the deferred assets to grow tax-deferred. In addition, when you start using these assets in retirement and pay taxes on distributions made to you, presumably you will be subject to lower income tax rates.
					p.text-resize But before you automatically increase your contributions, you may want to answer these two questions:
					ul
						li.federal-rules
							h6.heading-resize.internal-heading 1 What are your current tax liabilities and what do you expect them to be in the future?
							p.text-resize Generally, the marginal tax rate (i.e., the amount of tax paid on each additional dollar of income) will be lower in retirement than during a person’s working years. But it is important to keep in mind that a marginal tax rate also includes state taxes. It is therefore advisable to examine how your state of residence taxes retirement income. Ultimately, if you expect your tax rates to be lower in retirement, contributing more now to tax-deferred accounts makes sense, as you can avoid being taxed today, and can pay taxes later when your marginal rate is lower.
						li.federal-rules
							h6.heading-resize.internal-heading 2 Will your contribution to your retirement accounts be deductible?
							p.text-resize Although contributions to traditional 401(k)s are deductible, you may find that you have to fund your IRA with after-tax contributions if either spouse is also contributing to an employer-sponsored retirement plan. For example, in 2015, if both spouses on a joint return are participants in employer-qualified plans, their ability to claim deductions for ontributions to their IRAs will phase out when their income ranges from $98,000 to $118,000.<span class="up">6</span> However, if one spouse is in a 401(k) and the other spouse is not, the deductible IRA contribution by the spouse without the 401(k) will phase out in 2015 when the couple’s income ranges from $183,000 to $193,000.<span class="up">6</span> Regardless of phase-out deductible limitations, individuals can make non-deductible contributions to traditional IRAs each year up to the otherwise allowable maximum amounts previously mentioned.
							p.text-resize After-tax contributions may not be as useful, as you do not get a deduction, and the appreciation portion of future withdrawals from your retirement account will be taxed at higher ordinary income tax rates rather than the lower preferential rates for investment income such as qualified dividends or long-term capital gains. In other words, if one is forced to use after-tax dollars to fund an IRA, the decision to contribute those funds to the IRA should be made on a case-by-case basis. For instance, if one is moving from a taxable to a non-taxable jurisdiction or if the person plans to leave his/her IRA to charity—then making after-tax contributions may make sense.
				//- main-perspective starts here
				.main-perspective
					h5.heading-resize What is your plan?
					p.text-resize Clearly, your new retirement opportunities once you reach the age of 50 should be considered in the context of your larger retirement strategy. Maximizing the benefits of the catch-up contributions requires an understanding of how much you already have saved and what your future income may be. Your J.P. Morgan Private Banking team can work with your tax and legal advisors to develop a plan for you. We welcome the opportunity to help you with your retirement planning.
		.overlay
		.imageBox
			span.close-button
			img(src="" alt="")
	include includes/learnmore

