
extends layouts/default


block content
  //- articleClasses var is used to define various bootstrap classes for article.
  - var articleClasses = 'article-info col-lg-6 col-md-6 col-sm-6 col-xs-12'

  //- to assign an element display inline-block property.
  - var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'

  //- learnMoreVal will add dynamic Learn more value to learnmore.jade.
  - var learnMoreVal = 'More information'

  //- pageName will add dynamic page title in the page-title.jade.
  - var pageName = 'Thought Leadership'

  //- learnMore will add dynamic Learn more value to learnmore.jade.
  - var learnMore = 'Learn More'

  - var secondLearnMore = 'Submit Your Question'

  //- commonQues will add dynamic common Question value to learnmore.jade.
  - var commonQues = 'Common Questions'

  - var linkTwo = 'mailto:GBWM_Q&A@restricted.chase.com'

  - var linkThree = 'common-questions.html'

  //- used to include page title
  include includes/page-title

  //- main structure
  main.row.thought-lead

    //- modern-portfolio starts here

    .modern-portfolio.jumbotron
      .wrapper
        h3
          a(class=inlineBlock) Modern Portfolio Selection
        span(class=inlineBlock) a border line
        p A new framework to provide investors with advice – and a better understanding of their ability to achieve their goals.
        a#read-article(class=inlineBlock) Coming Soon

    //- first section
    section
      .wrapper.clearfix
        article(class=articleClasses)
          h3
            a(href='retrying-jobs.html' title='Retiring or Changing Jobs?' class=inlineBlock) Retiring or Changing Jobs?
          p One of the most important decisions for your financial well-being could be what you do with the assets in your employer-sponsored retirement account.
          ul
            each val, index in {'retrying-jobs.html':'Read Article', 'FIXME3':'Client/Prospect Email'}
              li
                if index == 'FIXME3'
                  a.jobs-mail(href='' target='_blank' title=val class=inlineBlock)= val
                else if index == 'FIXME2'
                  a(href='images/retiring-or-changing-jobs.pdf' title=val class=inlineBlock download='retiring-or-changing-jobs.pdf' target='_blank')= val
                else
                  a(href=index title=val class=inlineBlock)= val

        span a border line

        article(class=articleClasses)
          h3
            a(href='IRA-roll.html' title='IRA Rollover Options' class=inlineBlock) IRA Rollover Options
          p A quick check list to help you identify the option that may make the most sense for your needs.
          ul
            each val, index in {'IRA-roll.html':'Read Article', 'FIXME3':'Client/Prospect Email'}
              li
                if index == 'FIXME3'
                  a(href='mailto:example@somthin.com?subject=IRA Rollover Options' target='_blank' title=val class=inlineBlock)= val
                else if index == 'FIXME2'
                  a(href='images/IRA-Rollover-Options.pdf' title=val class=inlineBlock download='IRA-Rollover-Options.pdf' target='_blank')= val
                else
                  a(href=index title=val class=inlineBlock)= val


    //- second section
    section.section-diff-color
      .wrapper.clearfix
        article(class=articleClasses)
          h3
            a(href='thought-lead-security.html' title='When Should You Start Taking Social Security?' class=inlineBlock) When Should You Start Taking Social Security?
          p Do not simply accept conventional wisdom that it is always better to wait as long as possible. Every person’s circumstances are different. For many, starting early may be a better choice.
          ul
            each val, index in {'thought-lead-security.html':'Read Article', 'FIXME3':'Client/Prospect Email'}
              li
                if index == 'FIXME3'
                  a.security-mail(href='' target='_blank' title=val class=inlineBlock)= val
                else if index == 'FIXME2'
                  a.downloadFile(href='images/When-should-you-start-taking-social-security.pdf' type="application/octet-stream" title=val class=inlineBlock download='When-should-you-start-taking-social-security.pdf' target='_blank')= val
                else
                  a(href=index title=val class=inlineBlock)= val

        span a border line

        article(class=articleClasses)
          h3
            a(href='Medicare.html' title='Medicare' class=inlineBlock) Medicare
          p It may be far more expensive than you may think. Plan for it as soon as you can—so you don’t get caught short later.
          ul
            each val, index in {'Medicare.html':'Read Article', 'FIXME3':'Client/Prospect Email'}
              li
                if index == 'FIXME3'
                  a(href='mailto:example@somthin.com?subject=Medicare' target='_blank' title=val class=inlineBlock)= val
                else if index == 'FIXME2'
                  a.downloadFile(href='images/GBWM_Medicare.pdf' title=val class=inlineBlock download="GBWM_Medicare.pdf" target='_blank')= val
                else
                  a(href=index title=val class=inlineBlock)= val

    //- third section

    section
      .wrapper.clearfix
        article(class=articleClasses)
          h3
            a(href='tax-defer.html' title='Should You Put More into Your Tax-Deferred Retirement Accounts?' class=inlineBlock) Should You Put More into Your Tax-Deferred Retirement Accounts?

          p Starting at age 50, you have the opportunity to boost the value of the assets in your retirement accounts. However, before you decide how much to put in a 401(k) or IRA, it is advisable to understand your options and how different choices might fit into your overall retirement plans.
          ul
            each val, index in {'tax-defer.html':'Read Article', 'FIXME3':'Client/Prospect Email'}
              li
                if index == 'FIXME3'
                  a.tax-mail(href='' target='_blank' title=val class=inlineBlock)= val
                else if index == 'FIXME2'
                  a.downloadFile(href='images/Should-you-put-more-into-your-tax-deferred-retirement-accounts.pdf' title=val class=inlineBlock download='Should-you-put-more-into-your-tax-deferred-retirement-accounts.pdf' target='_blank')= val
                else
                  a(href=index title=val class=inlineBlock)= val

     include includes/learnmore
