extends layouts/default

block content

	//- to assign an element display inline-block property.
	- var inlineBlock = 'visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block'

	//- learnMoreVal will add dynamic Learn more value to learnmore.jade
	- var learnMoreVal = 'Tools & Training'

	//- pageName will add dynamic page title in the page-title.jade.
	- var pageName = 'Thought Leadership'

	//- learnMore will add dynamic Learn more value to learnmore.jade.
	- var learnMore = 'Learn More'

	- var secondLearnMore = 'Learn More'

	- var commonQues = 'Common Questions'

	- var linkTwo = '#'

	- var linkThree = 'common-questions.html'

	//- used to include page title
	include includes/page-title

	main.row.thought-security
		.main-features
			.wrapper.clearfix
				.back-to-thoughtlead(class=inlineBlock)
					a(href='thought-lead.html' title='Back') Back
				.main-sub-feature(class=inlineBlock)
					ul
						each val, index in { 'FIXME1':'A', 'FIXME2':'Download' }
							if index == 'FIXME1'
								li(class=inlineBlock)
									a#fontSize(href=index title='Font Resize' class=inlineBlock)
										span= val
										span= val
									ul(class='fontHover')
										li
											a.increaseFont(hre='FIXME' title='Zoom in' class=inlineBlock)
												img(src='images/cq.small-plus.png' alt='Zoom in')
										li
											a.decreaseFont(hre='FIXME' title='Zoom out' class=inlineBlock)
												img(src='images/cq.small-minus.png' alt='Zoom out')
							if index == 'FIXME2'
								li(class=inlineBlock)
									a(href='images/When-should-you-start-taking-social-security.pdf' type='application/octet-stream' title=val class=inlineBlock download='When-should-you-start-taking-social-security.pdf' target='_blank')
										img(src='images/'+val+'.png' alt=val)
		//- main-content
		.main-content#secMain
			.wrapper
				//- content-heading starts here
				.content-heading
					h3.securityHeading When should you start taking Social Security?

				//- main-info starts here
				.main-info
					p.text-resize Do not simply accept conventional wisdom that it is always better to wait as long as possible. Every person’s circumstances are different. For many, starting early may be a better choice
					p.text-resize Common advice says, “Wait to take Social Security.” But our analysis finds that many people may actually do better if they choose to start their benefits as early as possible—that is to say, when they are 62 years old.
					p.text-resize Waiting may make sense for some people. Because benefits increase up to age 70, starting later means a greater monthly benefit. That added amount may prove useful if they live a long time, especially if they need to rely upon Social Security benefits in their later years.
					p.text-resize Social Security’s basic function is, after all, to provide insurance that Americans will not run out of money in their old age. However, many people do not need the full measure of this social insurance, and others may simply not be able to afford it. Some may not need it because they have sufficient assets to maintain a reasonable standard of living through their retirement years or because they do not expect to live long enough to make up for their late start. These people are likely to derive greater advantage putting the funds to work in the markets as soon as possible.
					p.text-resize Others cannot afford to wait to start Social Security, either because their assets are illiquid or because they have too little money. In fact, despite thunderous warnings from financial advisors and the media to wait, recent estimates say that only about 2% of eligible retirees actually do delay starting their Social Security benefits to age 70. Those same estimates say that nearly 40% begin at 62. <span class="up">1</span> (See “What’s Your Full Retirement Age?” page x.)
					p.text-resize It is time to recognize that starting Social Security at age 62 is not only frequently necessary, but also often the most advantagous choice—if handled well.
					//- main-importance starts here
				.main-importance
					h5.heading-resize The importance of Social Security
					p.text-resize Social Security is a significant benefit because it provides a lifetime annuity to eligible retirees.
					p.text-resize Indeed, Social Security payments are much like coupons from bond portfolios in that they are steady and reliable. Also like bond coupons, Social Security benefits are uncorrelated to any other asset class and carry very little risk: Social Security has no material credit risk, no duration risk and no inflation risk. In fact, the only risks to Social Security seem to be a major change in the national political landscape or total collapse of the U.S. economy.
					p.text-resize Moreover, the amount that an individual receives can be substantial. The maximum Social Security benefit of about $33,000 per year at full retirement age is roughly equivalent to the yield annual interest produced by a $1.1 million bond portfolio.
						span.up 2
				//- main-perspective starts here
				.main-perspective
					h5.heading-resize Putting penalties into perspective
					p.text-resize Many advisors will tell you to wait as long as possible to start Social Security because the monthly benefit increases from age 62, when someone is first eligible for Social Security, until age 70, when the value of benefits no longer rises. And, once a person’s Social Security benefit is set at a particular rate, there it will remain.
					p.text-resize In fact, federal rules work so that:
					ul
						li.federal-rules <span>•</span> Penalty—If you start taking Social Security before you reach full retirement age, your benefit may be reduced as much as 30%
						li.federal-rules <span>•</span> Incentive—If you start after your full retirement age, your benefit will be increased by 8% a year until you reach age 70, when it stops growing
					p.text-resize The choice therefore is straightforward: You can receive a lower benefit earlier or higher benefit later. Longevity is important in this context. With a late start, the higher benefit level eventually provides a higher aggregate, but the retiree needs to live long enough receive this excess.
					p.text-resize Taxpayers born in 1949 whose incomes from 1976 through 2010 were high enough to reach the maximum social security benefits would aggregate more benefits by age 81 if they had waited until age 70 to start receiving benefits than had they started at age 62. And by age 90, they would have received $200,000 more. (See “Deferring pays off in the long run,” page x.)
					//- main-graphical-info starts here
					.main-graphical-info
						.graphical-info
							h5.heading-resize A more complete picture
							p.text-resize Aggregate benefits may only be part of the story.
							p.text-resize What if retirees do not use benefits for living expenses and instead either invest all the funds in a taxable portfolio or avoid liquidating other assets they already have invested?
							p.text-resize If an Early Starter (a person who began receiving benefits at age 62) invested all Social Security benefits received, it would take a Late Starter (one who began at age 70) longer to catch up: with 4% annual returns, the Late Starter would have to live to 86 or 87; with 6% annual returns, the Late Starter would have to live to 93. (See “How rate of returns impact long-term aggregates of invested Social Security benefits ” page x.)
								span.up 3
						.graphical-img
							a.lightbox(href="images/security-graph.jpg" class=inlineBlock)
								img(src='images/security-graph.jpg' alt='Graph')
							a(href='images/security-graph.jpg' class="lightbox" title='Zoom' class=inlineBlock)
								img(src='images/zoom.png' alt='Zoom')

					//- main-market-risk starts here
					.main-market-risk
						h5.heading-resize What about market risk?
						p.text-resize Again, the answer would seem to be simple: Start as early as possible. Looking solely at appreciation and aggregates seems to argue for taking Social Security benefits earlier so long as you have sufficient other financial assets that you do not need to spend your Social Security benefits. Moreover, taking benefits earlier might enable you to either (a) avoid liquidating other assets and/or (b) invest in a higher return portfolio with more risk and greater potential returns.
						p.text-resize Of course, market returns are never guaranteed; portfolios can underperform. It is therefore important to measure and evaluate the range of potential investment results when considering the impact of investing rather than spending your Social Security benefits.
		.overlay
		.imageBox
			span.close-button
			img(src="" alt="")
	include includes/learnmore

