doctype html
html.no-js
  head
    meta(charset='utf-8')
    title JP Morgan
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1 ,maximum-scale=1,user-scalable = no')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet' href='../bower_components/flexslider/flexslider.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    .container-fluid
      include ../includes/header.jade

      block content

      <a href="#0" class="cd-top">Top</a>

      include ../includes/footer.jade

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //- script.
    //-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-   e.src='//www.google-analytics.com/analytics.js';
    //-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-   ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/flexslider/jquery.flexslider-min.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
    // endbower
    // endbuild

    // script for brightcove
    script(src='https://sadmin.brightcove.com/js/BrightcoveExperiences.js')

    // build:js scripts/plugins.js
    script(src="scripts/jquery.brightcove-video.js")
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
