//- header_nav will be used to list the titles for site navigation
- var header_nav = {'Overview': 'index.html', 'Additional Resources': 'additional-resources.html', 'Thought Leadership': 'thought-lead.html', 'Common Questions': 'common-questions.html', 'GBWM Digital System': '#', 'J.P. Morgan Private Bank Home': '#'};

//- Header of the site
header
	//- Hamburger icon for navigation menu
	div.hamburger
		span
		span
		span
		span
		span
		span

		//- Structure of the Navigation menu
		nav.main-nav
			ul
				each val, index in header_nav
					li
						a(href=val title=index)= index
