//- Learn More section of the page
.learn-more
	.wrapper
		span Learn More
		.jpmorgan-Private-bank.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block
			h3 J.P. Morgan
				span Private Bank
			a.learn-more-icon(href='index.html' title="Return Home") Return Home
				span.bg-image
		.tools.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block
			h3= learnMoreVal
			a.learn-more-icon(href=linkTwo title="Learn More")= secondLearnMore
				span.bg-image
		.Submit-ques.visible-lg-inline-block.visible-md-inline-block.visible-sm-inline-block.visible-xs-inline-block
			h3= commonQues
			a.learn-more-icon(href=linkThree title= learnMore)= learnMore
				span.bg-image
