.row.page-title.clearfix
	//-Structure for sub-header
	.sub-heading
		.wrapper
			h2 Goals-Based Wealth Management
				span.up SM
				span= ' '+pageName
			.right-side-image
				img(src="images/bg-logo.png" alt="J P Morgan")